:root {
  --100vh: 100vh;
  --100vw: 100vw;
}

body {
  font-size: calc(10px + (26 - 10) * ((100vw - 300px) / (1600 - 300)));
}

a {
  pointer-events: all;
}

div.artifact {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--100vh);
  width: 100%;
  margin: 0;
  padding: 0;

  .animation-frame-container {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--100vh);
    width: 100vw;
    margin: 0;
    padding: 0;

    @include mobile-portrait() {
      height: var(--100vh);
    }
    @include mobile-landscape() {
      height: 90vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
      transition: opacity var(--explore-images-timing),
        visibility var(--explore-images-timing);
      margin: 0;
      width: 90%;
      height: auto;
      aspect-ratio: attr(width) / attr(height);
      align-self: center;
      @include mobile-landscape() {
        width: 100%;
      }
      @include mobile-portrait() {
        width: 100%;
      }
    }
  }

  .background-image-container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: var(--100vh);
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: unset;
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      background-color: var(--thoreau-rgba-blue);
      background-image: url("../media/images/transparent.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      transition: opacity var(--explore-images-timing),
        background-image var(--explore-images-timing);
    }
  }

  .fixed-image-container {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    @include mobile-portrait() {
      height: var(--100vh);
    }
    @include mobile-landscape() {
      height: 90vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
      visibility: hidden;
      opacity: 0;
      transition: opacity var(--explore-images-timing),
        visibility var(--explore-images-timing);
      margin: 20% 0;
      width: 80%;
      align-self: center;
      @include mobile-portrait() {
        width: 80%;
      }
      @include mobile-landscape() {
        width: 70%;
      }
    }
  }

  .content {
    z-index: 1;
    margin: 0;
    padding: 0;
    color: white;
    background-color: transparent;

    .absolute-content-container {
      pointer-events: none;
      position: relative;
      top: 4vh;
      left: 5vw;
      visibility: hidden;
      transition: opacity var(--explore-content-timing),
        visibility var(--explore-content-timing),
        position var(--explore-content-timing);
      opacity: 0;
      max-width: 40vw;
      line-height: var(--explore-content-line-height);
      font-size: var(--explore-content);
      font-weight: 300;
      hr {
        width: 25%;
        border-top: 1px solid var(--navy-blue);
        opacity: 1;
      }

      @include mobile-portrait() {
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        top: 0vh;
        left: 0vw;
      }

      .about-container {
        width: 28vw;
        @include mobile-portrait() {
          margin: 0 5vw;
          width: 90%;
        }
        @include mobile-landscape() {
          width: 35vw;
          max-width: 35vw;
        }

        .header {
          @include mobile-landscape() {
            display: flex;
            align-items: flex-end;
          }
          @include desktop-strong-landscape() {
            display: flex;
            align-items: flex-end;
          }
          img.pine-tree-border-icon {
            width: 7rem;
            height: 7rem;
            padding: 0.5rem;
            @include mobile-portrait() {
              width: 5rem;
              height: 5rem;
              padding: 0.5rem;
            }
            @include mobile-landscape() {
              width: 4rem;
              height: 4rem;
              padding: 0.5rem;
            }
            @include desktop-strong-landscape() {
              width: 6rem;
              height: 6rem;
              padding: 0.5rem;
            }
          }
          .title {
            width: 30vw;
            margin: 4.5vh 0 5.5vh 0;
            @include mobile-landscape() {
              margin: 4vh 0 4vh 0;
            }
            @include mobile-portrait() {
              margin: 3vh 0 3vh 0;
              width: 70vw;
            }
            font-family: "Libre Caslon Text", serif;
            font-size: var(--artifact-title);
            font-weight: 600;
            color: var(--thoreau-blue);
            line-height: 1.1em;
            text-transform: capitalize;
          }
        }
        hr {
          display: block;
          width: 10vw;
          height: 1px;
          @include mobile-portrait() {
            display: none;
          }
          @include mobile-landscape() {
            display: block;
          }
        }
        .description {
          margin: 4.5vh 0;
          width: 100%;
          font-size: var(--artifact-description);
          line-height: var(--artifact-description-line-height);
          font-weight: 300;
          letter-spacing: 1px;
          color: var(--navy-blue);
          span.first-line {
            font-weight: 600;
          }
          @include mobile-landscape() {
            width: 95%;
          }
          @include mobile-portrait() {
            width: 100%;
            margin: 2vh 0;
          }
        }
      }

      .image-container {
        position: sticky;
        top: 5vh;
        height: 90vh;
        left: 30%;
        width: 70%;
        margin-top: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: inherit;
          height: auto;
        }
        @include mobile-portrait() {
          top: 30vh;
          height: 90vw;
          left: 0;
          width: 100%;
          margin-top: 0;
          padding: 0;
          img {
            width: 80%;
          }
        }
        @include mobile-landscape() {
          width: 60vw;
          margin-top: 0;
          img {
            width: 60%;
          }
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: visible;
        opacity: 1;
        transition: opacity var(--explore-images-timing),
          visibility var(--explore-images-timing);

        .zoom-controls {
          pointer-events: auto;
          position: absolute;
          right: 0%;
          bottom: 5%;
          height: 1.9rem;
          @include mobile-portrait() {
            bottom: 2%;
          }
          @include mobile-landscape() {
          }

          display: flex;
          flex-direction: row;
          justify-content: center;

          padding: 0em 0.5em;
          border: 1px solid lightgray;
          border-radius: 1em;
          background-color: var(--navy-blue);

          button {
            padding: 0;
            margin: 0.1rem 0.35rem;
            width: 0.8rem;
            background-color: transparent;
            border: none;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
              width: 1rem;
              height: auto;
              margin: 0 0.4rem;
            }
          }
          .v-divide {
            width: 0.1rem;
            background-color: white;
            height: auto;
          }
        }
      }
      .author {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        font-family: "Nunito Sans", sans-serif;
        font-size: var(--explore-content-author);
        opacity: 1;
        .name {
          text-transform: uppercase;
          font-weight: 600;
          &.thoreau {
            color: black;
          }
        }
        audio {
          display: none;
        }
      }
    }
  }

  .dropdown.explore-another-object {
    pointer-events: auto;
    position: fixed;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    top: 3vh;
    right: 5vw;
    background-color: transparent;
    transition: opacity var(--explore-images-timing),
      visibility var(--explore-images-timing);

    @include mobile-landscape() {
      top: 2vh;
      right: 2vw;
    }
    @include mobile-portrait() {
      top: 2vh;
      right: 2vw;
    }

    button {
      padding: 0.35em 1.5em;
      border: none;
      border-radius: 1.25em;
      background-color: var(--navy-blue);
      font-size: var(--explore-button);
      color: var(--almost-white);
      font-weight: 300;
      &:focus {
        box-shadow: none;
      }
      &::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0em;
        border: none;
        content: url("../media/images/explore_another_down_arrow.png");
      }
    }
    ul.dropdown-menu {
      padding-top: 0.1em;
      background-color: transparent;
      border: none;
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: opacity var(--explore-menu-timing),
        visibility var(--explore-menu-timing);
      li {
        a.dropdown-item {
          visibility: hidden;
          opacity: 0;
        }
      }

      &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity var(--explore-menu-timing),
          visibility var(--explore-menu-timing);
        padding-top: 0.1em;
        background-color: transparent;
        border: none;
        li {
          margin-left: 1em;
          padding: 0.2em 0em;
          background-color: transparent;
          a.dropdown-item {
            visibility: visible;
            opacity: 1;
            padding: 0.35em 1.5em;
            border: none;
            border-radius: 1.25em;
            background-color: var(--navy-blue);
            color: var(--almost-white);
            font-size: var(--explore-button);
            text-decoration: none;
            &:hover {
              background-color: var(--navy-blue);
              color: white;
            }
          }
        }
      }
    }
  }

  .arrow-scroll-down {
    pointer-events: none;
    position: fixed;
    top: 94vh;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    @include mobile-portrait() {
    }
    @include mobile-landscape() {
      top: 90vh;
    }
    background-color: transparent;
    transition: opacity var(--explore-images-timing),
      visibility var(--explore-images-timing);
    a {
      i {
        color: lightgray;
        font-size: var(--back-button-size);
        &:hover {
          color: white;
        }
      }
    }
  }

  .mute-button {
    font-size: var(--explore-content-mute-button);
    text-transform: uppercase;
    &.secondary {
      position: fixed;
      bottom: 3vh;
      right: 5vw;
    }
    pointer-events: auto;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div {
      margin-right: 0.2em;
      margin-bottom: -0.1em;
      &.off {
        display: block;
      }
      &.on {
        display: none;
      }
    }
    svg {
      height: 1.5em;
      width: auto;
      &.off {
        display: block;
      }
      &.on {
        margin-left: 0.4em;
        display: none;
      }
    }
    svg + div {
      display: block;
      margin-left: -0.2em;
      padding-bottom: 0.2em;
      text-transform: none;
    }
    > * {
      pointer-events: none;
    }
  }

  .unmute-footer {
    display: flex;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    pointer-events: auto;
    position: fixed;
    z-index: 3;
    opacity: 0.9;
    background-color: var(--medium-gray);
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4vh;
    padding: 0;
    font-size: var(--unmute-footer);
    @include mobile-portrait() {
      height: 5vh;
      font-size: var(--unmute-footer);
    }
    @include mobile-landscape() {
      height: 6vh;
    }

    .label {
      margin-right: 1.5vw;
      font-style: italic;
      color: var(--navy-blue);
    }
    .mute-button {
      font-size: 105%;
      margin-right: 10vw;
      color: white;
    }
    &.on {
      .label {
        display: none;
      }
    }
  }

  .fixed-video-container {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--explore-images-timing),
      visibility var(--explore-images-timing);
    @include mobile-portrait() {
      width: 100vw;
    }
    @include mobile-landscape() {
      height: 100vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .video-wrapper {
      position: relative;
      align-self: center;
      justify-self: center;
      @include mobile-portrait() {
        width: 100%;
      }
      @include mobile-landscape() {
        height: 85vh;
      }

      .mute-button {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        padding: 0.2em 0.4em;
        color: var(--almost-white);
        svg {
          color: var(--almost-white);
        }
        &:hover {
          color: white;
          svg {
            color: white;
          }
        }
      }

      video {
        width: 90vw;
        height: auto;
        align-self: center;
        object-fit: contain;
        @include mobile-portrait() {
          width: 100%;
          height: auto;
        }
        @include mobile-landscape() {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
