body {
  width: 100vw;
  font-family: "Nunito Sans", sans-serif;
}

a {
  pointer-events: all;
}

.transparent {
  color: transparent !important;
  background-color: transparent !important;
  * {
    color: transparent !important;
    background-color: transparent !important;
  }
  hr {
    display: none !important;
  }
}

img.transparent {
  display: none !important;
}

div.artifact {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .content {
    z-index: 1;
    margin: 0;
    padding: 0;

    color: white;
    background-color: transparent;

    .absolute-content-container {
      pointer-events: none;
      position: sticky;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      max-width: 100vw;
      transition: opacity var(--explore-content-timing),
        visibility var(--explore-content-timing),
        position var(--explore-content-timing);

      line-height: var(--explore-content-line-height);
      letter-spacing: var(--explore-content-letter-spacing);
      font-size: var(--explore-content);
      font-weight: 300;

      &.end {
        height: 100vh;
      }

      &.start {
        display: flex;
        flex-direction: column;

        .menu {
          z-index: 3;
          width: 100vw;
          margin-top: 1.5vh;
          padding-right: 6.5vw;
          height: 5vh;
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: space-between;

          @include mobile-portrait-small() {
            margin: 0;
            height: 7.5vh;
            background-color: var(--mobile-header-gray);
          }

          .home {
            margin: 2rem 0 0 5.5rem;
            a {
              img {
                width: 5.6rem;
                height: 5.6rem;
                padding: 0rem;
                @include desktop-landscape() {
                  width: 6rem;
                  height: 6rem;
                  padding: 0.5rem;
                }
              }
            }
            @include mobile-portrait-small() {
              display: none;
            }
          }
          a {
            text-decoration: none;
          }
          .title {
            display: none;
            flex: none;
            margin: 0vh 0.4vw;
            padding-bottom: 2vh;
            font-family: "Libre Caslon Text", serif;
            font-size: var(--main-title);
            font-weight: 600;
            color: var(--navy-blue);
            .world {
              margin: 0 1vw 0 0;
              padding: 0;
              font-family: "Libre Caslon Display", serif;
              font-size: var(--main-title-world);
              color: var(--white);
              font-weight: 600;
              padding-bottom: 0.5vh;
            }
          }
        }
        .content {
          display: flex;
          flex-direction: row;
          @include mobile-portrait-small() {
            flex-direction: column-reverse;
          }

          .about-container {
            width: 30vw;
            margin: 5rem 0 0 5.5rem;
            @include mobile-portrait-small() {
            }
            .header {
              @include desktop-landscape() {
                display: flex;
                align-items: center;
              }
              .title {
                width: 100%;
                margin: 3rem 0 2.9rem 0;
                font-family: "Libre Caslon Text", serif;
                font-size: var(--artifact-title);
                line-height: var(--artifact-title-line-height);
                font-weight: 600;
                color: var(--thoreau-blue);
                text-transform: capitalize;
              }
            }
            hr {
              display: block;
              width: 10vw;
              height: 1px;
              margin: 0.5rem 0 1rem 0;
              color: var(--november-skies);
            }
            .description {
              margin: 2.5rem 0;
              width: 100%;
              font-size: var(--artifact-description);
              line-height: var(--artifact-description-line-height);
              font-weight: 300;
              letter-spacing: var(--artifact-description-letter-spacing);
              color: var(--navy-blue);
              span.first-line,
              span.bold {
                font-weight: 700;
              }
              @include mobile-portrait-small() {
              }
              // @include mobile-landscape-small {
              //   width: 110%;
              //   letter-spacing: 0px;
              //   max-width: 20rem;
              //   margin: 2vh 0;
              // }
            }
          }

          .image-container {
            position: relative;
            overflow: hidden;
            margin: 4vh 4vw 0 0.5vw;
            height: 75vh;
            width: 75%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.zoomed {
              border: none;
            }

            img {
              width: inherit;
              height: auto;
              &.artifact {
                height: 95%;
                width: auto;
                transform: scale(1);
                max-width: 80%;
              }
            }
            div.draglayer {
              position: absolute;
              pointer-events: all;
              touch-action: none;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              cursor: grab;
              &.dragging {
                cursor: grabbing;
              }
            }

            @include mobile-portrait-small() {
              margin: 2vh 0 0 0;
              height: 40vh;
              width: 100%;
              padding: 0;
              img {
                width: 85%;
              }
            }
            @include mobile-landscape() {
              width: 70%;
              margin-top: 0;
              img {
                width: 60%;
              }
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            visibility: visible;
            opacity: 1;
            transition: opacity var(--explore-images-timing),
              visibility var(--explore-images-timing);
          }

          @include zoom-controls();
        }
      }

      .quote-wrapper {
        display: flex;
        flex-direction: column;
        p,
        q {
          margin: 0 0 0.5rem 0;
        }
      }

      hr {
        width: 20%;
        border-top: 1px solid var(--navy-blue);
        margin: 2.25vh 0 2vh 0;
        opacity: 1;
        background: none;
        @include mobile-portrait() {
          width: 30%;
        }
      }

      .author {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        font-family: "Nunito Sans", sans-serif;
        font-size: var(--explore-content-author);
        opacity: 1;
        .name {
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 1.5vh;
          height: 2vh;
          margin-bottom: 4.25vh;
          @include mobile-portrait() {
            margin-top: 1vh;
            height: 2vh;
            margin-bottom: 3.5vh;
          }
        }
        &.thoreau {
          .name {
            margin-top: 0;
          }
        }
        @include audio-player();
      }
    }

    @include mobile-portrait() {
      padding: 0;
      .absolute-content-container {
        font-weight: 400;
        &.start {
          flex-direction: column;
          justify-content: flex-start;
          .menu {
            margin: 0;
            padding: 0;
            height: 8vh;
            align-items: center;
            justify-content: space-between;
            background-color: var(--mobile-header-gray);
            .home {
              display: none;
            }
            .title {
              display: block;
              margin: 3vh 0 3vh 10vw;
              padding-bottom: 0;
            }
          }
          .content {
            width: 100vw;
            height: 72vh;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            .about-container {
              margin: 0;
              width: 34rem;
              max-width: 90vw;
              height: 24rem;
              overflow: auto;
              align-self: center;
              .header {
                .title {
                  margin: 1vh 0 2vh 0;
                  width: 70vw;
                }
              }
              hr {
                margin: 0.5rem 0 1.25rem 0;
              }
              .description {
                width: 100%;
                margin: 0.75rem 0 0.75rem 0;
                br {
                  display: none;
                }
              }
            }
            .image-container {
              margin: 0 0 0 0;
              height: 39vh;
              width: 90vw;
              padding: 0;
              align-self: center;
              img {
                width: 85%;
                &.artifact {
                  height: 85%;
                }
              }
            }
          }
        }
      }
    }

    @include mobile-landscape() {
      padding: 0;
      .absolute-content-container {
        &.start {
          .menu {
            margin: 0;
            padding: 0;
            height: var(--unmute-footer-height);
            align-items: center;
            justify-content: space-between;
            background-color: var(--mobile-header-gray);
            .home {
              display: none;
            }
            .title {
              display: block;
              margin: 3vh 0 3vh 10vw;
              padding-bottom: 0;
            }
          }
          .content {
            .about-container {
              margin: 0 0 0 5vw;
              width: 40vw;
              max-width: 40vw;
              .header {
                margin-top: 0.5rem;
                display: flex;
                align-items: center;
                .title {
                  margin: 3vh 0 2vh 0;
                }
              }
              hr {
                display: block;
              }
              .description {
                margin: 1.5rem 0;
                width: 100%;
                max-width: 25rem;
                letter-spacing: 0.2px;
              }
            }
            .image-container {
              width: 70%;
              margin-top: 0;
              img {
                width: 60%;
              }
            }
          }
        }
      }
    }

    @include desktop-portrait() {
      .absolute-content-container {
        &.start {
          .content {
            .about-container {
              width: 35vw;
            }
            .image-container {
              width: 65vw;
            }
          }
        }
      }
    }

    @include desktop-strong-portrait() {
      .absolute-content-container {
        &.start {
          flex-direction: column;
          justify-content: flex-start;
          .content {
            .about-container {
              width: 40vw;
            }
            .image-container {
              width: 60vw;
            }
          }
        }
      }
    }

    @include desktop-landscape() {
      .absolute-content-container {
        &.start {
          .menu {
            min-height: 4rem;
            display: flex;
            align-items: center;
          }
          .content {
            .about-container {
              width: 50vw;
              margin: 3rem 0 0 5.5rem;
              .header {
                .title {
                  margin: 0 0 1rem 0;
                }
              }
              .description {
                margin: 1.5rem 0;
              }
            }
            .image-container {
              width: 50vw;
              height: 64vh;
              img {
                height: 75vh;
              }
            }
          }
        }
      }
    }
  }

  body[data-content-scroll="0"] {
    .mute-button {
      display: none;
    }
  }

  @import "components/animation-frame-container";
  @import "components/background-image-container";
  @import "components/fixed-image-container";
  @import "components/dropdown-explore";
  @import "components/arrow-scrolldown";
  @import "components/mute-button";
  @import "components/next-object-footer";
  @import "components/unmute-footer";
  @import "components/about-thoreau";
  @import "components/fixed-video-container";
}
