/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  --thoreau-blue: #77bece;
  --thoreau-rgba-blue: rgba(119, 190, 206, 1);
  --border-gray: gray;
  --border-light-gray: #ddd;
  --near-black: #25334b;
  --medium-gray: #a7bbca;
  --snowshoe-brown: #704b46;
  --snowshoe-writing-mask: #cdd7e0;
}
