/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  --thoreau-blue: rgb(93, 192, 208);
  --thoreau-blue-rgba-80: rgba(93, 192, 208, 0.8);

  --thoreau-purple: rgb(75, 90, 116);
  --thoreau-purple-rgba-90: rgba(75, 90, 116, 0.9);

  --thoreau-green: rgb(132, 167, 69);
  --thoreau-green-rgba-90: rgb(132, 167, 69, 0.9);

  --snowshoe-brown: #704b46;

  --desk-brown: rgb(175, 108, 52);
  --desk-brown-rgba-80: rgba(175, 108, 52, 0.8);

  --lock-and-key-yellow: rgb(202, 186, 70);
  --lock-and-key-yellow-rgba-80: rgba(202, 186, 70, 0.8);

  --snowshoe-gray: rgb(205, 215, 224);
  --snowshoe-gray-rgba-90: rgba(205, 215, 224, 0.9);

  --walking-stick-slate: #4b5a74;

  --white-rgba-00: rgba(255, 255, 255, 0);

  --november-skies: #a7bbca;

  --writing-mask: #cdd7e0;
  --about-thoreau-close-background: #cdd7e0;

  --border-gray: gray;
  --border-light-gray: #ddd;
  --navy-blue: #25334b;
  --navy-blue-rgba1: rgba(13, 110, 253, 1);
  --navy-blue-rgba0: rgba(13, 110, 253, 0);
  --white: #fff;
  --almost-white: #ddd;
  --medium-gray: #a7bbca;
  --medium-gray-rgba-100: rgba(167, 187, 202, 1);
  --medium-gray-rgba-90: rgba(167, 187, 202, 0.9);
  --medium-gray-rgba-80: rgba(167, 187, 202, 0.8);
  --medium-gray-rgba-75: rgba(167, 187, 202, 0.75);
  --medium-gray-rgba-70: rgba(167, 187, 202, 0.7);
  --medium-gray-rgba-65: rgba(167, 187, 202, 0.65);
  --medium-gray-rgba-60: rgba(167, 187, 202, 0.6);
  --medium-gray-rgba-50: rgba(167, 187, 202, 0.5);
  --medium-gray-rgba-40: rgba(167, 187, 202, 0.4);
  --medium-gray-rgba-30: rgba(167, 187, 202, 0.5);
  --medium-gray-rgba-20: rgba(167, 187, 202, 0.6);
  --medium-gray-rgba-0: rgba(167, 187, 202, 0);

  --darker-gray: #798894;

  //  component-specific styling
  --progress-indicator-elapsed: var(--navy-blue);
  --progress-indicator-remaining: white;
  --mute-button-color: var(--white);

  --mobile-header-gray: var(--medium-gray);
}
