/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  --thoreau-blue: #5dc0d0;
  --thoreau-rgba-blue: rgba(93, 192, 208, 1);
  --border-gray: gray;
  --border-light-gray: #ddd;
  --navy-blue: #25334b;
  --navy-blue-rgba: rgba(13, 110, 253, 0.3);
  --white: #fff;
  --almost-white: #ddd;
  --medium-gray: #a7bbca;
  --darker-gray: #798894;
  --snowshoe-brown: #704b46;
  --snowshoe-writing-mask: #cdd7e0;

  //  component-specific styling
  --progress-indicator-elapsed: var(--navy-blue);
  --progress-indicator-remaining: white;
  --mute-button-color: var(--white);

  --mobile-header-gray: var(--medium-gray);
}
