* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  margin: 30px 40px;
  @media (max-width: 576px) {
    margin: 10px 10px;
  }
  @media (max-height: 576px) {
    margin: 10px 20px;
  }
  padding: 0;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: black;
}

.content {
  .main {
    @media (min-width: 576px) {
      height: 90vh;
    }
    .left {
      height: 100%;
      img {
        width: 8vmax;
        height: 8vmax;
        padding: 0.7vmax;
        @media (max-height: 576px), (max-width: 576px) {
          width: 6vmax;
          height: 6vmax;
          padding: 0.6vmax;
        }
      }
      .title {
        margin: 6vh 0 4vh 0;
        @media (max-height: 576px) {
          margin: 4vh 0 4vh 0;
        }
        @media (max-width: 576px) {
          margin: 3vh 0 3vh 0;
        }
        font-family: "Libre Caslon Text", serif;
        font-size: var(--artifact-title);
        font-weight: 600;
        color: var(--thoreau-blue);
        line-height: 1.1em;
        text-transform: capitalize;
      }
      hr {
        display: block;
        width: 50%;
        @media (max-width: 576px), (max-height: 576px) {
          display: block;
        }
      }
      .description {
        margin: 4vh 0;
        width: 100%;
        @media (max-height: 576px) {
          width: 95%;
        }
        @media (max-width: 576px) {
          width: 65%;
          margin: 2vh 0;
        }
        font-size: var(--artifact-description);
        line-height: 2em;
        color: black;
      }
    }
    .right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-image: url("../images/watercolor-background-blue.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @media (max-width: 576px) {
        justify-content: flex-start;
        padding: 0;
      }

      .image-container {
        height: 90%;
        @media (max-width: 576px) {
          height: 50vh;
        }
        @media (max-height: 576px) {
          height: 80vh;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        // background-image: url("../images/watercolor-background-blue.png");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: contain;
        // border: 1px solid var(--border-gray);
        // border-radius: 0.5vmin;
        img {
          margin: 25% 0 15% 0;
          width: 70%;
          align-self: center;
          @media (max-width: 576px) {
            width: 80%;
            margin: 35% 0 20% 0;
          }

          @media (max-height: 576px) {
            width: 75%;
            margin: 15% 0 5% 0;
          }
        }
        .explore {
          align-self: flex-start;
          margin-top: 1em;
          margin-left: calc(10% - 1.5em);
          padding: 0.35em 2em 0.35em 1.5em;
          border: 1px solid lightgray;
          border-radius: 1em;
          background-color: lightgray;
          font-size: var(--explore);
          a.btn {
            font-size: var(--explore-button);
            border-radius: 1em;
            margin-left: 1em;
            padding: 0.25em 0.5em;
            width: 2.2em;
            height: 2em;
          }
        }
      }
    }
  }
}

// a[href="./explore-2.html"] {
//   display: none;
// }
