* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  margin: 30px 40px;
  @include mobile-portrait() {
    margin: 10px 10px;
  }
  @include mobile-landscape() {
    margin: 10px 20px;
  }
  padding: 0;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: black;
}

.content {
  margin: 0;
  padding: 0.5em;
  .main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    @include mobile-portrait() {
      height: 90vh;
      flex-direction: column;
    }
    @include mobile-landscape() {
      height: 90vh;
    }
    .left {
      width: 30%;
      height: 100%;
      margin-left: 1%;
      @include mobile-landscape() {
        width: 35%;
      }
      @include mobile-portrait() {
        width: 100%;
        height: auto;
      }
      img {
        width: 5.8em;
        height: 5.8em;
        @media (max-height: 576px), (max-width: 576px) {
          width: 6vmax;
          height: 6vmax;
          padding: 0.6vmax;
        }
      }
      .title {
        margin: 2rem 0 3rem 0;
        @include mobile-landscape() {
          margin: 4vh 0 4vh 0;
        }
        @include mobile-portrait() {
          margin: 3vh 0 3vh 0;
        }
        font-family: "Libre Caslon Text", serif;
        font-size: var(--artifact-title);
        font-weight: 600;
        color: var(--thoreau-blue);
        line-height: var(--explore-content-line-height);
        text-transform: capitalize;
      }
      hr {
        display: block;
        width: 50%;
      }
      .description {
        margin: 2.8rem 0;
        width: 100%;
        @include mobile-landscape() {
          margin: 1rem 0;
          width: 95%;
        }
        @include mobile-portrait() {
          width: 65%;
          margin: 2vh 0;
        }
        font-weight: 400;
        font-size: var(--artifact-description);
        line-height: 2em;
        color: black;
        span.heading {
          font-weight: 700;
        }
      }
    }
    .right {
      margin-top: 4vh;
      width: 70%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile-landscape() {
        width: 65%;
      }
      @include mobile-portrait() {
        margin-top: 0;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 0;
      }

      .image-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../images/watercolor-background-blue.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        justify-content: space-around;

        @include mobile-portrait() {
          height: 45vh;
        }
        @include mobile-landscape() {
          height: 100%;
        }
        img {
          margin: 0;
          width: 75%;
          align-self: flex-end;
          margin-right: 2em;

          @include mobile-portrait() {
            width: 80%;
            margin: 10% 0;
          }

          @include mobile-landscape() {
            width: 75%;
            margin: 10% 0;
          }
        }
      }
      .explore {
        align-self: flex-start;
        margin-left: calc(10% - 1.5em);
        margin-bottom: 0.5em;
        padding: 0.35em 2em 0.35em 1.5em;
        border: 1px solid lightgray;
        border-radius: 1em;
        background-color: lightgray;
        font-size: var(--explore);
        a.btn {
          font-size: var(--explore-button);
          border-radius: 1em;
          margin-left: 1em;
          padding: 0.25em 0.5em;
          width: 2.2em;
          height: 2em;
        }
      }
    }
  }
}

// a[href="./explore-2.html"] {
//   display: none;
// }
