//
// desk specific artifact styles
//

body#desk {
  height: 900vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.artifact.desk {
  .tint {
    visibility: visible;
    opacity: 1;
    background-color: var(--desk-brown-rgba-80);
  }

  .content.desk {
    .absolute-content-container.desk {
      &.start {
        height: 200vh;
        width: 100%;
        max-width: 100vw;

        .content {
          .title {
            color: var(--desk-brown);
          }
        }

        @include mobile-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }

        @include mobile-landscape() {
        }
        @include desktop-strong-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      &.the-more {
        height: 200vh;
        // min-height: 300vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        top: 10vh;
        left: 7vw;
        width: 25vw;
        max-width: 25vw;

        @include mobile-portrait() {
          top: 48vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 40vh;
          left: 7vw;
          width: 29vw;
          max-width: 29vw;
        }
      }

      &.and-once {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 10vh;
        left: 7vw;
        width: 25vw;
        max-width: 25vw;

        @include mobile-portrait() {
          top: 46vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 6vh;
          left: 3vw;
          width: 45vw;
          max-width: 45vw;
        }
      }

      &.i-sit-before {
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 30vh;
        left: 32.5vw;
        width: 37vw;
        max-width: 37vw;

        font-weight: 600;
        color: var(--white);
        font-size: var(--explore-content-heading);
        font-family: "Libre Caslon Text", serif;

        text-indent: -1rem;
        hr {
          border-color: var(--navy-blue);
        }
        .author {
          font-weight: 300;
          text-indent: 0;
          .mute-button {
            color: var(--navy-blue);
          }
        }

        @include mobile-portrait() {
          top: 24vh;
          left: 20vw;
          width: 58vw;
          max-width: 58vw;
        }
        @include mobile-landscape() {
        }
      }

      &.stars {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        .video--wrapper {
          .tint {
            visibility: visible;
            opacity: 1;
            background-color: var(--desk-brown-rgba-80);
          }
        }
      }
    }
  }

  .image-container {
    @include mobile-portrait() {
      img.desk-photo {
        width: 80%;
      }
    }
    @include mobile-landscape() {
      img.desk-photo {
        width: 60%;
      }
    }
  }

  .fixed-image-container.desk {
    visibility: hidden;
    opacity: 0;
    img {
      width: 100%;

      @include mobile-portrait() {
        width: 90vw;
        height: auto;
        // height: 19%;
        transform: rotate(-9deg) translate(1.5rem, -16vh);
      }
    }
  }

  .animation-frame-container.desk {
    top: 4vh;
    height: 80vh;
    left: 40vw;
    width: 52vw;
    @include mobile-portrait() {
    }
    @include mobile-landscape() {
      margin: 0 0 0 0;
      padding: 2rem 0 0 0;
      justify-content: center;
    }
  }

  .background-image-container.desk {
    &:before {
      background-color: transparent;
    }
  }
}

//
// style changes based on content scroll position
//

#desk[data-content-scroll="0"] {
  .unmute-footer {
    display: flex;
  }

  .mute-button {
    z-index: 1;
    bottom: var(--unmute-footer-control-bottom);
  }

  .background-image-container.desk {
    &:before {
      background-color: white;
      background-image: url("../media/images/thoreau-handwriting-dark-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .absolute-content-container.desk.start {
    visibility: visible;
    opacity: 1;

    .image-container {
      -webkit-clip-path: inset(0% 0% 0% 0%);
      clip-path: inset(0% 0% 0% 0%);
      transition: opacity var(--explore-images-timing),
        background-image var(--explore-images-timing);

      img {
        height: 95%;
        width: auto;
        transform: scale(1);
      }

      background-image: url(../media/images/desk/watercolor-background.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .explore-another-object {
    visibility: visible;
    opacity: 1;
  }

  div.arrow-scroll-down {
    bottom: var(--arrow-scroll-down-bottom-first-screen);
    visibility: visible;
    opacity: 1;
    color: var(--navy-blue);
    @include mobile-landscape() {
      bottom: var(--arrow-scroll-down-bottom-first-screen);
    }
    svg {
      color: var(--navy-blue);
    }
  }
}

#desk[data-content-scroll="1"] {
  .background-image-container.desk {
    &:before {
      background-color: var(--desk-brown);
      background-image: url("../media/images/thoreau-handwriting-light-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .fixed-image-container {
    visibility: visible;
    opacity: 1;
    img {
      visibility: visible;
      opacity: 1;
    }
  }
}

#desk[data-content-scroll="2"],
#desk[data-content-scroll="3"] {
  .background-image-container.desk {
    &:before {
      background-color: var(--desk-brown);
    }
  }
  .absolute-content-container.desk.the-more {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
  .animation-frame-container.desk {
    opacity: 1;
    visibility: visible;
    @include mobile-portrait() {
      top: 15vh;
    }
    img {
      margin: 5vh 10vw;
    }
  }
}
#desk[data-content-scroll="2"] {
  .absolute-content-container.desk.the-more {
    position: sticky;
  }
}

#desk[data-content-scroll="4"],
#desk[data-content-scroll="5"] {
  .background-image-container.desk {
    &:before {
      background-color: var(--desk-brown);
    }
  }
  .absolute-content-container.desk.and-once {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
  .animation-frame-container.desk {
    opacity: 1;
    visibility: visible;
    @include mobile-portrait() {
      top: -10vh;
    }
    img {
      margin: 20vh 30vw 10vh 30vw;
    }
  }
}
#desk[data-content-scroll="4"] {
  .absolute-content-container.desk.and-once {
    position: sticky;
  }
}

#desk[data-content-scroll="6"],
#desk[data-content-scroll="7"] {
  .background-image-container.desk {
    &:before {
      background-color: var(--desk-brown);
    }
  }
  .absolute-content-container.desk.i-sit-before {
    visibility: visible;
    opacity: 1;
    position: sticky;
  }

  .fixed-video-container.desk.stars {
    visibility: visible;
    opacity: 1;
    .tint {
      visibility: visible;
      opacity: 1;
      background-color: var(--desk-brown-rgba-80);
    }
  }
}

#desk[data-content-scroll="7"] {
  .absolute-content-container.desk.i-sit-before {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
}

#desk[data-content-scroll="8"],
#desk[data-content-scroll="9"] {
  .absolute-content-container.desk.stars {
    visibility: visible;
    opacity: 1;
  }

  .fixed-video-container.desk.stars {
    visibility: visible;
    opacity: 1;
    .tint {
      visibility: hidden;
      opacity: 0;
      background-color: transparent;
    }
  }

  .animation-frame-container.desk,
  .arrow-scroll-down {
    visibility: hidden;
    opacity: 0;
  }

  .next-object-footer,
  .back-to-top {
    visibility: visible;
    opacity: 1;
  }

  .next-object-footer {
    visibility: visible;
    transition: opacity var(--next-object-footer-timing-out),
      visibility var(--next-object-footer-timing-out);
  }

  .mute-button {
    bottom: 11.5vh;
    color: var(--white);
    filter: drop-shadow(0 0 0.5rem var(--navy-blue));
    @include mobile-portrait() {
      bottom: 6.5vh;
    }
  }
}
