.explore-animations {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: unset;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-color: var(--thoreau-rgba-blue);
    background-image: url("../images/transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity var(--explore-images-timing),
      background-image var(--explore-images-timing);
  }

  .animation-frame-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    @media (max-width: 576px) {
      height: 100vh;
    }
    @media (max-height: 576px) {
      height: 90vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
      transition: opacity var(--explore-images-timing),
        visibility var(--explore-images-timing);
      margin: 5% 0;
      width: 100%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        width: 90%;
      }
    }
  }

  .back-button {
    position: relative;
    z-index: 3;
    top: 0.75vh;
    left: 1vw;
    @media (max-width: 576px) {
      top: 0.5vh;
      left: 2.5vw;
    }
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--explore-images-timing),
      visibility var(--explore-images-timing);
    a {
      i {
        color: lightgray;
        font-size: var(--back-button-size);
        &:hover {
          color: white;
        }
      }
    }
  }
}

.explore-animations-content {
  z-index: 2;
  display: flex;
  height: 400vh;
  color: white;
  .absolute-content-container {
    position: absolute;
    visibility: hidden;
    transition: opacity var(--explore-content-timing),
      visibility var(--explore-content-timing);
    opacity: 0;
    max-width: 40vw;
    font-size: var(--explore-content);
    hr {
      width: 30%;
      border-top: 2px solid black;
    }
    .author {
      font-size: var(--explore-content);
      text-transform: uppercase;
      &.thoreau {
        color: black;
      }
    }
    &.content0 {
      top: 30vh;
      left: 50vw;
      @media (max-height: 576px) {
        left: 55vw;
        max-width: 35vw;
      }
      @media (max-width: 576px) {
        left: 35vw;
        max-width: 60vw;
      }
    }
    &.content1 {
      top: 110vh;
      left: 10vw;
      @media (max-height: 576px) {
        left: 3vw;
        max-width: 30vw;
      }
      @media (max-width: 576px) {
        left: 5vw;
        max-width: 60vw;
      }
    }
    &.content2 {
      top: 210vh;
      left: 10vw;
      @media (max-height: 576px) {
        left: 3vw;
        max-width: 30vw;
      }
      @media (max-width: 576px) {
        left: 3vw;
        max-width: 60vw;
      }
    }
    &.content3 {
      top: 310vh;
      align-self: flex-end;
      max-width: 40vw;
      left: 40vw;
      font-size: var(--explore-content-heading);
      @media (max-height: 576px) {
        top: 310vh;
      }
      @media (max-width: 576px) {
        left: 50vw;
      }
    }
  }
}

#explore-2[data-contentscroll="0"] {
  .absolute-content-container.content0 {
    visibility: visible;
    opacity: 1;
  }
  .back-button {
    visibility: visible;
    opacity: 1;
  }
}

#explore-2[data-contentscroll="1"] {
  .absolute-content-container.content1 {
    visibility: visible;
    opacity: 1;
  }
}

#explore-2[data-contentscroll="2"] {
  .absolute-content-container.content2 {
    visibility: visible;
    opacity: 1;
  }
}

#explore-2[data-contentscroll="3"] {
  .absolute-content-container.content3 {
    visibility: visible;
    opacity: 1;
  }
  .back-button {
    visibility: visible;
    opacity: 1;
  }
}
