.explore-images {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: unset;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-color: var(--thoreau-rgba-blue);
    background-image: url("../images/transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity var(--explore-images-timing),
      background-image var(--explore-images-timing);
  }

  .back-button {
    position: relative;
    top: 0.75vh;
    left: 1vw;
    @media (max-width: 576px) {
      top: 0.5vh;
      left: 2.5vw;
    }
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--explore-images-timing),
      visibility var(--explore-images-timing);
    a {
      i {
        color: lightgray;
        font-size: var(--back-button-size);
        &:hover {
          color: white;
        }
      }
    }
  }

  .fixed-image-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90%;
    @media (max-width: 576px) {
      height: 100vh;
    }
    @media (max-height: 576px) {
      height: 90vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
      visibility: hidden;
      opacity: 0;
      transition: opacity var(--explore-images-timing),
        visibility var(--explore-images-timing);
      margin: 20% 0;
      width: 80%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        width: 90%;
      }
    }
    img.spyglass-animation {
      width: 90%;
    }
    img.spyglass-photo {
      transform: rotate(-9deg);
    }
    img.spyglass-drawing {
    }
    img.animals {
      width: 60%;
      align-self: flex-end;
      margin-right: 5%;
      margin-block-end: auto;
      margin-bottom: 10%;
      @media (max-width: 576px) {
        width: 80%;
      }
      @media (max-height: 576px) {
        width: 55%;
        margin-bottom: 15%;
      }
    }
    img.trees1 {
      width: 60%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        align-self: flex-end;
        margin-right: 5%;
        margin-block-end: auto;
        margin-bottom: 10%;
      }
      @media (max-width: 576px) {
        width: 80%;
      }
    }
    img.trees2 {
      width: 60%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        align-self: flex-end;
        margin-right: 5%;
        margin-block-end: auto;
        margin-bottom: 10%;
      }
      @media (max-width: 576px) {
        width: 80%;
      }
    }
    img.hawk {
      position: relative;
      top: -26vh;
      left: 23vw;
      width: 10vw;
      align-self: flex-start;
      @media (max-width: 576px) {
        top: -30vh;
        left: 15vw;
        width: 25vw;
      }
      @media (max-height: 576px) {
        top: -25vh;
        left: 22vw;
        width: 12vw;
      }
    }
  }
}

#explore-1[data-scroll="0"] {
  img.spyglass-photo {
    visibility: visible;
    opacity: 1;
  }
  .back-button {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-scroll="1"] {
  img.spyglass-drawing {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-scroll="2"] {
  img.animals,
  .absolute-content-container.animals {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-scroll="3"] {
  img.trees1,
  .absolute-content-container.trees1 {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-scroll="4"] {
  img.trees2,
  .absolute-content-container.trees2 {
    visibility: visible;
    opacity: 1;
  }
  .explore-images {
    &:before {
      background-image: url("../images/shoreline-and-water-grayscale.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

#explore-1[data-scroll="5"] {
  img.hawk,
  .absolute-content-container.hawk {
    visibility: visible;
    opacity: 1;
  }

  .back-button {
    visibility: visible;
    opacity: 1;
  }

  .explore-images {
    &:before {
      background-image: url("../images/shoreline-and-water.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.explore-images-content {
  display: flex;
  height: 600vh;
  color: white;
  .absolute-content-container {
    position: absolute;
    visibility: hidden;
    transition: opacity var(--explore-content-timing),
      visibility var(--explore-content-timing);
    opacity: 0;
    max-width: 40vw;
    font-size: var(--explore-content);
    hr {
      width: 30%;
      border-top: 2px solid black;
    }
    .author {
      font-size: var(--explore-content);
      text-transform: uppercase;
      &.thoreau {
        color: black;
      }
    }
    &.spyglass-drawing {
      top: 120vh;
      left: 50vw;
      @media (max-height: 576px) {
        left: 55vw;
        max-width: 35vw;
      }
      @media (max-width: 576px) {
        left: 35vw;
        max-width: 60vw;
      }
    }
    &.animals {
      top: 210vh;
      left: 10vw;
      @media (max-height: 576px) {
        left: 3vw;
        max-width: 30vw;
      }
      @media (max-width: 576px) {
        left: 5vw;
        max-width: 60vw;
      }
    }
    &.trees1 {
      top: 310vh;
      left: 10vw;
      @media (max-height: 576px) {
        left: 3vw;
        max-width: 30vw;
      }
      @media (max-width: 576px) {
        left: 3vw;
        max-width: 60vw;
      }
    }
    &.trees2 {
      top: 410vh;
      align-self: flex-end;
      left: 35vw;
      @media (max-height: 576px) {
        left: 3vw;
        max-width: 30vw;
      }
      @media (max-width: 576px) {
        left: 24vw;
        max-width: 60vw;
      }
    }
    &.hawk {
      top: 510vh;
      align-self: flex-end;
      max-width: 40vw;
      left: 40vw;
      font-size: var(--explore-content-heading);
      @media (max-height: 576px) {
        top: 510vh;
      }
      @media (max-width: 576px) {
        left: 50vw;
      }
    }
  }
}

#explore-1[data-contentscroll="0"] {
}

#explore-1[data-contentscroll="1"] {
  .absolute-content-container.spyglass-drawing {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-contentscroll="2"] {
  .absolute-content-container.animals {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-contentscroll="3"] {
  .absolute-content-container.trees1 {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-contentscroll="4"] {
  .absolute-content-container.trees2 {
    visibility: visible;
    opacity: 1;
  }
}

#explore-1[data-contentscroll="5"] {
  .absolute-content-container.hawk {
    visibility: visible;
    opacity: 1;
  }

  .back-button {
    visibility: visible;
    opacity: 1;
  }
}
