// font-families loaded in index.html
//
// font-family: "Open Sans", sans-serif;
// font-family: 'Libre Caslon Text', serif;
// font-family: 'Nunito Sans', sans-serif;

/* font sizes */

:root {
  --content: 2rem;
  --main-title: 3.6rem;
  --main-title-world: 8.6rem;
  --artifact-title: 2.4rem;
  // --artifact-description: 1.35rem;
  --artifact-description: 2.4vmin;
  --explore: 2.6vmin;
  --explore-another: 1.8vmin;
  --explore-button: 2vmin;
  --explore-content: 2.6vmin;
  --explore-content-line-height: 160%;
  --explore-content-author: 1rem;
  --explore-content-mute-button: 0.7em;
  --explore-content-weight: 400;
  --explore-content-heading: 4vmin;
  --explore-content-heading-weight: 600;
  --back-button-size: 2em;

  @media (max-width: 576px), (max-height: 576px) {
    --artifact-title: 4.5vmin;
    --artifact-description: 3vmin;
    --explore: 3.4vmin;
    --explore-button: 2.8vmin;
    --explore-content: 3.8vmin;
    --explore-content-line-height: 150%;
    --explore-content-author: 0.7em;
    --explore-content-weight: 600;
    --explore-content-heading: 5vmin;
    --explore-content-heading-weight: 600;
    --back-button-size: 1.4em;
  }
}
