// font-families loaded in index.html
//
// font-family: "Open Sans", sans-serif;
// font-family: 'Libre Caslon Text', serif;
// font-family: 'Nunito Sans', sans-serif;

/* font sizes */

:root {
  --content: 2rem;
  --main-title: 3.6rem;
  --main-title-world: 8.6rem;
  --main-description: 1.2rem;

  --artifact-title: 2.3rem;
  --artifact-description: 1.3rem;
  --artifact-description-line-height: 2.9rem;

  --explore: 2.6vmin;
  --explore-another: 1.8vmin;
  --explore-button: 0.9rem;
  --explore-content: 1.35rem;
  --explore-content-line-height: 160%;
  --explore-content-author: 1rem;
  --explore-content-mute-button: 0.8rem;
  --explore-content-weight: 400;
  --explore-content-heading: 4vmin;
  --explore-content-heading-weight: 600;
  --back-button-size: 2em;
  --unmute-footer: 0.6em;

  // @media (max-width: 851px), (max-height: 851px) {
  //   --main-title: 2.4rem;
  //   --main-title-world: 2.8rem;
  //   --main-description: 0.8rem;
  //   --artifact-title: 4.5vmin;
  //   --artifact-description: 0.5rem;
  //   --explore: 3.4vmin;
  //   --explore-button: 2.8vmin;
  //   --explore-content: 3.8vmin;
  //   --explore-content-line-height: 150%;
  //   --explore-content-author: 0.7em;
  //   --explore-content-mute-button: 1em;
  //   --explore-content-weight: 600;
  //   --explore-content-heading: 4.5vmin;
  //   --explore-content-heading-weight: 600;
  //   --back-button-size: 1.4em;
  //   --unmute-footer: 0.7em;
  // }

  // @include mobile() {
  // --main-title: 2.4rem;
  // --main-title-world: 2.8rem;
  // --main-description: 0.8rem;
  //
  // --explore: 3.4vmin;
  // --explore-button: 2.8vmin;
  // --explore-content: 3.8vmin;
  // --explore-content-line-height: 150%;
  // --explore-content-author: 0.7em;
  // --explore-content-mute-button: 1em;
  // --explore-content-weight: 600;
  // --explore-content-heading: 4.5vmin;
  // --explore-content-heading-weight: 600;
  // --back-button-size: 1.4em;
  // --unmute-footer: 0.7em;
  // }

  @include desktop-strong-landscape() {
    --artifact-title: 2rem;
    --artifact-description: 1.2rem;
    --artifact-description-line-height: 2.2rem;
  }

  @include mobile-portrait() {
    --main-title: 2.4rem;
    --main-title-world: 2.8rem;
    --main-description: 0.8rem;

    --artifact-title: 1rem;
    --artifact-description: 0.8rem;
    --artifact-description-line-height: 1.4rem;

    --explore: 3.4vmin;
    --explore-button: 2.8vmin;
    --explore-content: 3.8vmin;
    --explore-content-line-height: 150%;
    --explore-content-author: 0.7em;
    --explore-content-mute-button: 1em;
    --explore-content-weight: 600;
    --explore-content-heading: 4.5vmin;
    --explore-content-heading-weight: 600;
    --back-button-size: 1.4em;
    --unmute-footer: 0.7em;
  }
  @include mobile-landscape() {
    --main-title: 2.4rem;
    --main-title-world: 2.8rem;
    --main-description: 0.8rem;

    --artifact-title: 1rem;
    --artifact-description: 0.8rem;
    --artifact-description-line-height: 1.4rem;

    --explore: 3.4vmin;
    --explore-button: 2.8vmin;
    --explore-content: 3.8vmin;
    --explore-content-line-height: 150%;
    --explore-content-author: 0.7em;
    --explore-content-mute-button: 1em;
    --explore-content-weight: 600;
    --explore-content-heading: 4.5vmin;
    --explore-content-heading-weight: 600;
    --back-button-size: 1.4em;
    --unmute-footer: 0.7em;
  }
}
