// font-families loaded in index.html
//
// font-family: "Open Sans", sans-serif;
// font-family: 'Libre Caslon Text', serif;
// font-family: 'Nunito Sans', sans-serif;

/* font sizes */

:root {
  --content: 2rem;

  --main-menu-title: 3.6rem;
  --main-menu-title-world: 7.8rem;

  --main-title: 3.6rem;
  --main-title-world: 7.8rem;
  --main-description: 1.2rem;
  --main-description-line-height: 2rem;

  --artifact-title: 2.1rem;
  --artifact-title-line-height: 2.4rem;
  --artifact-description: 1.2rem;
  --artifact-description-letter-spacing: calc(
    clamp(0px, (0.4vh - 3.61px), 2px)
  );
  --artifact-description-line-height: calc(clamp(30px, (8vh - 26px), 60px));

  --about-thoreau-title: 1.8rem;
  --about-thoreau-description: 0.9rem;
  --about-thoreau-description-line-height: 1.45rem;
  --about-thoreau-close: 2rem;
  --about-thoreau-close-radius: 1rem;
  --about-thoreau-close-svg: 1.2rem;

  --thoreau-quote-width: 33.5rem;

  --zoom-button-right: 6vw;
  --next-object-right-margin: 6vw;
  --unmute-right-distance: 6vw;

  --zoom-button-size: 1.1rem;

  --zoom-button-top: 86.7vh;

  --zoom-button-height: 1.9rem;
  --zoom-button-width: 2.65rem;
  --zoom-icon-width: 0.9rem;
  --zoom-divide-width: 0.1rem;

  --explore-button: 0.85rem;
  --explore-content: 1.28rem;
  --explore-content-line-height: 168%;
  --explore-content-letter-spacing: 0.75px;
  --explore-content-author: 0.88rem;

  --explore-content-mute-button: 0.76rem;

  --thoreau-quote: 2.2rem;

  --explore-content-weight: 400;
  --explore-content-heading: 2.2rem;
  --explore-content-heading-weight: 600;
  --back-button-size: 2em;

  --next-object: 0.875em;
  --back-to-top: 0.87em;
  --next-object-footer-height: 8vh;

  --unmute-footer: 0.76rem;
  --unmute-footer-height: 8vh;
  --unmute-footer-items: 0.9rem;
  --unmute-footer-label-right: 18rem;

  --unmute-bottom-first-page: 0;
  --unmute-bottom: 1vh;
  --unmute-bottom-last-page: 9vh;

  --arrow-scroll-down-bottom: calc(var(--unmute-bottom) + 2.8vh);
  --arrow-scroll-down-bottom-first-screen: calc(
    var(--unmute-footer-height) + 1.8vh
  );
  --scroll-down-label: 0.9rem;

  --about-thoreau-width: 30vw;
  --about-thoreau-min-width: 32rem;
  --about-thoreau-max-img-width: 22rem;

  @include mobile-portrait() {
    --main-menu-title: 3.2rem;
    --main-menu-title-world: 3.2rem;

    --main-title: 1.7rem;
    --main-title-world: 2.2rem;
    --main-description: 1.4rem;
    --main-description-letter-spacing: 0.25px;

    --artifact-title: 1.9rem;
    --artifact-description: 1.425rem;
    --artifact-description-line-height: 2.3rem;
    --artifact-description-letter-spacing: 0.05rem;

    --about-thoreau-title: 2.3rem;
    --about-thoreau-description: 1.5rem;
    --about-thoreau-description-line-height: 2.45rem;
    --about-thoreau-close: 2rem;

    --explore-button: 1rem;
    --explore-content: 1.65rem;
    --explore-content-line-height: 160%;

    --explore-content-author: 1.35rem;
    --explore-content-mute-button: 1.1rem;
    --explore-content-weight: 600;
    --explore-content-heading: 2rem;
    --explore-content-heading-weight: 600;
    --back-button-size: 1.4em;
    --unmute-footer: 0.8em;

    --zoom-button-right: 7vw;
    --next-object-right-margin: 7vw;
    --unmute-right-distance: 7vw;

    --zoom-button-top: 48.5vh;
    --zoom-button-height: 2.6rem;
    --zoom-button-width: 3.2rem;
    --zoom-icon-width: 1.3rem;
    --zoom-divide-width: 0.3rem;

    --unmute-footer: 1.15rem;
    --unmute-footer-height: 7vh;
    --unmute-footer-items: 1.15rem;
    --unmute-footer-control-bottom: 1vh;
    --unmute-right-distance: 7vw;

    --unmute-bottom-first-page: 0;
    --unmute-bottom: 1vh;
    --unmute-bottom-last-page: 8.5vh;

    --next-object: 1.3rem;
    --back-to-top: 1.2rem;
    --next-object-footer-height: 7vh;

    --arrow-scroll-down-bottom: calc(var(--unmute-bottom) + 2.8vh);
    --arrow-scroll-down-bottom-first-screen: calc(
      var(--unmute-footer-height) + 1.4vh
    );

    --scroll-down-label: 1.1rem;
  }

  @include mobile-portrait-small() {
    --explore-button: 1rem;
    --explore-content: 1.1rem;

    --main-title: 1.5rem;
    --main-title-world: 1.9rem;
    --main-description: 1.4rem;
    --main-description-letter-spacing: 0.25px;

    --artifact-title: 1.4rem;
    --artifact-title-line-height: 2rem;
    --artifact-description: 0.95rem;
    --artifact-description-letter-spacing: calc(clamp(0px, (0.2vh - 3px), 2px));
    --artifact-description-line-height: calc(clamp(15px, (7vh - 26px), 30px));
    --zoom-button-size: 1.2rem;
  }

  @include mobile-landscape() {
    --main-menu-title: 2rem;
    --main-menu-title-world: 2.8rem;

    --main-title: 1.4rem;
    --main-title-world: 1.7rem;
    --main-description: 1.2rem;

    --artifact-title: 1.6rem;
    --artifact-title-line-height: 2.4rem;
    --artifact-description: 1.2rem;
    --artifact-description-letter-spacing: calc(clamp(0px, (0.2vh - 3px), 2px));
    --artifact-description-line-height: calc(clamp(20px, (8vh - 26px), 60px));
    --zoom-button-size: 1.2rem;

    --about-thoreau-title: 2rem;
    --about-thoreau-description: 1.1rem;
    --about-thoreau-description-line-height: 1.9rem;
    --about-thoreau-close: 1.8rem;

    --explore: 2rem;
    --explore-button: 0.8rem;
    --explore-content: 1.2rem;
    --explore-content-line-height: 150%;
    --explore-content-author: 0.8rem;
    --explore-content-mute-button: 1rem;
    --explore-content-weight: 600;
    --explore-content-heading: 1.6rem;
    --explore-content-heading-weight: 600;
    --back-button-size: 1.4em;
    --unmute-footer: 0.7em;

    --zoom-button-right: 4vw;
    --zoom-button-top: 85.5vh;
    --zoom-button-height: 2.4rem;
    --zoom-button-width: 3.2rem;
    --zoom-icon-width: 1.3rem;
    --zoom-divide-width: 0.3rem;

    --unmute-footer: 1.15rem;
    --unmute-footer-height: 9vh;
    --unmute-footer-items: 1.15rem;
    --unmute-footer-control-bottom: 1vh;
    --unmute-right-distance: 7vw;

    --unmute-bottom-first-page: 0;
    --unmute-bottom: 1vh;
    --unmute-bottom-last-page: 12vh;

    --next-object: 1.1rem;
    --next-object-right-margin: 7vw;
    --back-to-top: 1rem;
    --next-object-footer-height: 9vh;

    --arrow-scroll-down-bottom: 2.8vh;
    --arrow-scroll-down-bottom-first-screen: 11vh;

    --scroll-down-label: 1.1rem;
  }

  @include desktop-portrait() {
    --main-menu-title: 2.4rem;
    --main-menu-title-world: 4.4rem;

    --main-title: 2.6rem;
    --main-title-world: 4rem;
    --main-description: 1.1rem;
    --main-description-line-height: 2rem;

    --artifact-title: 1.9rem;
    --artifact-title-line-height: 2rem;
    --artifact-description: 1.2rem;
    --artifact-description-letter-spacing: calc(clamp(0px, (0.2vh - 3px), 2px));
    --artifact-description-line-height: calc(clamp(25px, (7.5vh - 36px), 60px));

    --zoom-button-height: 1.8rem;
    --zoom-button-width: 2.4rem;
    --zoom-icon-width: 1rem;
    --zoom-divide-width: 0.15rem;

    --unmute-footer: 0.8rem;
    --unmute-footer-height: 6vh;
    --unmute-footer-label-right: 16rem;

    --explore-content-mute-button: 0.8rem;

    --unmute-bottom: 0vh;
    --unmute-bottom-last-page: 5.5vh;

    --next-object: 0.9rem;
    --back-to-top: 0.8rem;
    --next-object-footer-height: 6vh;

    --zoom-button-top: calc(100vh - (var(--unmute-footer-height) + 5vh));
    --arrow-scroll-down-bottom: calc(var(--unmute-bottom) + 2.8vh);
    --arrow-scroll-down-bottom-first-screen: calc(
      var(--unmute-footer-height) + 2.4vh
    );
    --scroll-down-label: 0.9rem;
  }

  @include desktop-strong-portrait() {
    --main-menu-title: 2.4rem;
    --main-menu-title-world: 4.4rem;

    --main-title: 2.6rem;
    --main-title-world: 4rem;
    --main-description: 1.1rem;
    --main-description-line-height: 2rem;

    --artifact-title: 1.9rem;
    --artifact-title-line-height: 2rem;
    --artifact-description: 1.2rem;
    --artifact-description-letter-spacing: calc(clamp(0px, (0.2vh - 3px), 2px));
    --artifact-description-line-height: calc(clamp(25px, (7.5vh - 36px), 60px));

    --zoom-button-height: 2.5rem;
    --zoom-button-width: 3rem;
    --zoom-icon-width: 1rem;
    --zoom-divide-width: 0.15rem;

    --unmute-footer: 1rem;
    --unmute-footer-height: 6vh;
    --unmute-footer-label-right: 17rem;

    --explore-content-mute-button: 1rem;

    --unmute-bottom: 0vh;
    --unmute-bottom-last-page: 5.5vh;

    --next-object: 1.2rem;
    --back-to-top: 1.1rem;
    --next-object-footer-height: 6vh;

    --zoom-button-top: calc(100vh - (var(--unmute-footer-height) + 5vh));
    --arrow-scroll-down-bottom: calc(var(--unmute-bottom) + 2.8vh);
    --arrow-scroll-down-bottom-first-screen: calc(
      var(--unmute-footer-height) + 2.4vh
    );

    --scroll-down-label: 0.9rem;
  }

  @include desktop-landscape() {
    --artifact-title: 1.8rem;
    --artifact-title-line-height: 2rem;
    --artifact-description: 1.2rem;

    --thoreau-quote: 1.8rem;

    --zoom-button-top: 85vh;

    --zoom-button-height: 1.8rem;
    --zoom-button-width: 2.6rem;
    --zoom-icon-width: 1rem;
    --zoom-divide-width: 0.15rem;
  }
}
