* {
  margin: 0;
  padding: 0;
}

html {
}

body.index {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  oveerflow: hidden;
  @include mobile-portrait() {
    margin: 10px 10px;
  }
  @include mobile-landscape() {
    margin: 10px 20px;
  }
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: black;
}

.content.index {
  margin: 0;
  padding: 0;
  height: 95vh;
  .main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    @include mobile-portrait() {
      height: 90vh;
      flex-direction: column;
    }
    @include mobile-landscape() {
      height: 90vh;
    }
    .header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      line-height: normal;
      width: 82vw;
      height: 24vh;
      margin: 1vh 2vw 1vh 13vw;
      @include mobile-landscape() {
        width: 35%;
      }
      @include mobile-portrait() {
        width: 100%;
        height: auto;
      }
      .title {
        margin: 0vh 0.4vw;
        padding-bottom: 2vh;
        @include mobile-landscape() {
          margin: 4vh 0 4vh 0;
        }
        @include mobile-portrait() {
          margin: 3vh 0 3vh 0;
        }
        font-family: "Libre Caslon Text", serif;
        font-size: var(--main-title);
        font-weight: 600;
        color: var(--near-black);
        &.world {
          margin: 0 1vw 0 0;
          font-family: "Libre Caslon Display", serif;
          font-size: var(--main-title-world);
          color: var(--medium-gray);
          font-weight: 600;
          padding-bottom: 0.5vh;
        }
      }
      .vertcal.separator {
        width: 2.25vw;
        margin-left: 0.75vw;
        margin-bottom: 0vh;
        height: 14vh;
        color: var(--near-black);
        border-left: 1px solid;
      }
      img.pinetree {
        width: 5.8em;
        height: 5.8em;
        vertical-align: bottom;
        @media (max-height: 576px), (max-width: 576px) {
          width: 6vmax;
          height: 6vmax;
          padding: 0.6vmax;
        }
        &.noborder {
          margin: 0 1vw 0 0.25vw;
          height: 14vh;
          width: auto;
        }
      }
      .description {
        align-self: center;
        padding-bottom: 2vh;
        width: 95%;
        font-weight: 400;
        font-size: var(--artifact-description);
        @include mobile-landscape() {
          margin: 1rem 0;
          width: 95%;
        }
        @include mobile-portrait() {
          width: 65%;
          margin: 2vh 0;
        }
        line-height: 2em;
        color: black;
        span.heading {
          font-weight: 700;
        }
      }
    }
    .gallery {
      display: flex;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 95vw;
      height: 65vh;
      @include mobile-landscape() {
        width: 65%;
      }
      @include mobile-portrait() {
        margin-top: 0;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 0;
      }

      .image-container {
        margin-top: 0;
        height: 74vh;
        width: 70vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        object-fit: contain;

        background-image: url("../media/images/main-menu-texture.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        justify-content: space-around;

        @include mobile-portrait() {
          height: 45vh;
        }
        @include mobile-landscape() {
          height: 100%;
        }
        img {
          transition: all var(--gallery-carousel-timing);

          margin: 0;
          padding: 0;
          position: absolute;
          filter: grayscale(100%) brightness(150%) contrast(125%) opacity(75%);
          visibility: hidden;
          opacity: 0;
          &.enabled {
            filter: none;
          }
          &.selected {
            visibility: visible;
            opacity: 1;
          }

          @include mobile-portrait() {
            width: 80%;
            margin: 10% 0;
          }

          @include mobile-landscape() {
            width: 75%;
            margin: 10% 0;
          }
        }
      }

      .select {
        margin: 0;
        width: 12vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .circle {
          width: 7vw;
          height: 7vw;
          border: 1px solid var(--medium-gray);
          border-radius: 50%;
          img {
            margin-top: 1.25vw;
            margin-left: 1.75vw;
            width: 2.5vw;
            height: auto;
          }
        }
      }
      .select.right {
        justify-content: flex-start;
        .circle {
          img {
            margin-left: 2.25vw;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

// a[href="./explore-2.html"] {
//   display: none;
// }
