@import "components/unmute-footer";
@import "components/about-thoreau";
@import "components/dropdown-explore";

* {
  margin: 0;
  padding: 0;
}

body.index {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: black;

  background-color: white;
  background-image: url("../media/images/thoreau-handwriting-dark-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content.index {
  margin: 0;
  padding: 0;
  height: 100vh;

  .main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .menu {
      display: none;
    }

    img.pinetree {
      display: none;
      &.noborder {
        margin: 0 1vw 2vh 0.25vw;
        height: 14vh;
        width: auto;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      align-self: center;
      align-items: center;
      justify-content: center;
      line-height: normal;
      width: 90vw;
      margin: 1vh 2vw 0 2vw;
      padding: 1rem 0 0 0;
      text-align: center;
      .title {
        margin: 0vh 0.4vw;
        padding-bottom: 0;
        font-family: "Libre Caslon Text", serif;
        font-size: var(--main-menu-title);
        font-weight: 700;
        color: var(--navy-blue);
        .world {
          margin: 0 1vw 0 0;
          padding: 0;
          font-family: "Libre Caslon Display", serif;
          font-size: var(--main-menu-title-world);
          color: var(--medium-gray);
          font-weight: 600;
          padding-bottom: 0.5vh;
        }
      }
      .separator {
        width: 1.5rem;
        height: 50%;
        margin-left: 0.25rem;
        margin-bottom: 0;
        color: var(--navy-blue);
        border-left: 1px solid;
      }
      img.pinetree.noborder {
        display: block;
      }
      .description {
        width: 28rem;
        font-weight: 300;
        font-size: var(--main-description);
        line-height: var(--main-description-line-height);
        color: var(--navy-blue);
        text-align: left;
        .heading {
          font-weight: 600;
        }
        // @media only screen and (max-device-width: 570px) and (orientation: landscape) {
        //   width: 100%;
        // }
      }
    }
    .gallery {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      pointer-events: all;
      margin: 0;
      width: 100vw;
      height: 72vh;

      .image-container {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;

        height: 100%;
        width: 72vw;
        // left: 12.5vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        object-fit: contain;
        cursor: pointer;
        touch-action: none;

        background-image: url("../media/images/main-menu-texture.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        // transition: opacity var(--gallery-carousel-timing);

        justify-content: space-around;

        img {
          position: absolute;
          margin: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          visibility: hidden;
          opacity: 0;
          cursor: pointer;
          // transition: opacity var(--gallery-carousel-timing);
          // visibility var(--gallery-carousel-timing);
          filter: grayscale(100%) brightness(150%) contrast(125%) opacity(75%);
          &.enabled {
            filter: none;
          }
          &.selected {
            visibility: visible;
            opacity: 1;
            padding: 4rem 5rem;
            &.desk {
              padding: 4rem 5rem;
            }
            &.snowshoes {
              padding: 3rem 5rem;
            }
            &.lock-and-key {
              padding: 4rem 5rem;
            }
            &.walking-stick {
              padding: 4rem 5rem;
            }
            &.spyglass {
              padding: 5rem 5rem;
            }
            &.flute {
              padding: 5rem 5rem;
            }
            &.left {
              right: var(--gallery-carousel-shift);
            }
            &.right {
              left: var(--gallery-carousel-shift);
            }
          }
        }
      }

      .select {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        overflow: hidden;
        width: 12vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .circle {
          width: 7rem;
          height: 7rem;
          border: 1px solid var(--medium-gray);
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            display: block;
            width: 2.8rem;
            margin: 0 0 0 -0.2rem;
            height: auto;
            stroke-width: 0.08rem;
            transform: rotate(0.25turn);
          }
        }
      }
      .select.right {
        left: auto;
        right: 0;
        margin: auto;
        justify-content: flex-start;
        .circle {
          svg {
            transform: rotate(-0.25turn);
            margin: 0 -0.2rem 0 0;
          }
        }
      }
    }

    @include mobile-portrait() {
      height: 90vh;
      .menu {
        z-index: 3;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        height: 8vh;
        min-height: 8vh;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--mobile-header-gray);
        line-height: var(--explore-content-line-height);
        letter-spacing: var(--explore-content-letter-spacing);
        font-size: var(--explore-content);

        @include mobile-portrait-small() {
          display: flex;
          margin: 0;
          height: 7.5vh;
        }
      }
      img.pinetree {
        z-index: 10;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2rem;
        width: 8.5rem;
        height: 8.5rem;
        &.hide {
          display: none;
        }
      }

      .header {
        width: 100%;
        height: auto;
        margin: 0vh 2vw 1vh 2vw;
        flex-direction: column;
        .title {
          margin: 1.5vh 0 3vh 0;
          padding-bottom: 0;
          .world {
            font-family: "Libre Caslon Text", serif;
            font-weight: 700;
          }
        }
        .separator {
          width: 35%;
          height: 1vh;
          color: var(--medium-gray);
          border-left: none;
          border-top: 1px solid;
        }
        img.pinetree.noborder {
          display: none;
        }
        .description {
          .heading {
            font-weight: 300;
          }
          width: 26rem;
          margin: 2vh 0;
          letter-spacing: var(--main-description-letter-spacing);
          br {
            display: none;
          }
          text-align: center;
          div {
            display: contents;
          }
        }
      }
      .gallery {
        width: 100vw;
        .image-container {
          height: 45vh;
          img {
            &.selected {
              padding: 1rem 1rem;
              &.desk {
                padding: 2rem 1rem;
              }
              &.snowshoes {
                padding: 1rem 0rem;
              }
              &.lock-and-key {
                padding: 0rem 4rem;
              }
              &.walking-stick {
                padding: 4rem 2rem;
              }
              &.spyglass {
                padding: 0rem 0rem;
              }
              &.flute {
                padding: 0rem 1rem;
              }
            }
          }
        }
        .select {
          justify-content: flex-start;
          .circle {
            width: 14vw;
            height: 14vw;
            margin-left: -7vw;
            svg {
              width: 1.6rem;
              margin: 0 0 0 1.7rem;
              stroke-width: 0.15rem;
            }
          }
        }
        .select.right {
          justify-content: flex-end;
          .circle {
            margin-right: -7vw;
            svg {
              margin: 0 1.7rem 0 0;
            }
          }
        }
      }
    }

    @include mobile-landscape() {
      height: 100vh;
      .header {
        .title {
          margin: 4vh 0 4vh 0;
          .world {
            font-family: "Libre Caslon Text", serif;
            font-weight: 700;
          }
        }
        .separator {
          margin-left: 0.5vw;
          width: 1.5vw;
          height: 50%;
        }
        .description {
          width: 26rem;
        }
      }
      .gallery {
        .image-container {
          height: 100%;
        }
      }
      .select {
        justify-content: center;
      }
    }

    @include desktop-square() {
      img.pinetree {
        &.noborder {
          height: 12vh;
        }
      }
      .header {
        align-self: start;
        justify-content: center;
        width: 100vw;
        margin: 2vh 0vw;
        padding: 0 0;
        .separator {
          width: 0.5rem;
          height: 50%;
          margin-left: 0;
        }
        .description {
          width: 36vw;
          min-width: 22rem;
        }
      }

      .gallery {
        .select {
          min-width: 14%;
          .circle {
            width: 11.5vh;
            height: 11.5vh;
            svg {
              width: 5vh;
              stroke-width: 0.175vh;
            }
          }
        }
      }
    }

    @include desktop-portrait() {
      img.pinetree {
        z-index: 10;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;
        width: 10vh;
        height: 10vh;
        &.hide {
          display: none;
        }
      }
      .header {
        width: 100%;
        height: auto;
        margin: 0 2vw;
        flex-direction: column;
        .title {
          margin: 1.5vh 0 2vh 0;
          padding-bottom: 0;
          .world {
            font-family: "Libre Caslon Text", serif;
            font-weight: 700;
          }
        }
        .separator {
          width: 35%;
          height: 1vh;
          color: var(--medium-gray);
          border-left: none;
          border-top: 1px solid;
        }
        img.pinetree.noborder {
          display: none;
        }
        .description {
          width: 24rem;
          margin: 1vh 0 1vh 0;
          letter-spacing: var(--main-description-letter-spacing);
          .heading {
            font-weight: 300;
          }
          br {
            display: none;
          }
          text-align: center;
          div {
            display: contents;
          }
        }
      }
      .gallery {
        height: 50vh;
        .select {
          justify-content: flex-start;
          .circle {
            width: 18vw;
            height: 18vw;
            margin-left: -9vw;
            svg {
              width: 5vw;
              margin: 0 0 0 6vw;
              stroke-width: 0.175vh;
            }
          }
        }
        .select.right {
          justify-content: flex-end;
          .circle {
            margin-right: -9vw;
            svg {
              margin: 0 6vw 0 0;
            }
          }
        }
      }
    }
  }

  .unmute-footer {
    display: flex;
    align-items: center;
    @include mobile-portrait() {
      display: none;
    }
    .footer-items {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      .item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0rem 0 1.5rem;
        &.popup {
          margin-left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.45rem 2.5rem;
          color: var(--white);
        }
        @include mobile-portrait() {
          margin: 0 0rem 0 1.25rem;
          &.popup {
            padding: 0.45rem 1.5rem;
          }
        }
        @include mobile-landscape() {
          &.popup {
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}

#window-size {
  position: absolute;
  z-index: 200;
  top: 16vh;
  right: 1vw;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  text-transform: none;
  border-radius: 6px;
  &.changing {
    display: flex;
    animation: fade 12s forwards;
  }
  p {
    margin: 4px 0;
    &.media-query {
      color: var(--black);
      &::before {
        content: "media-query: none";

        // desktop
        @include desktop() {
          content: "media-query: desktop";
        }
        @include desktop-square() {
          content: "media-query: desktop-square";
        }
        @include desktop-portrait() {
          content: "media-query: desktop-portrait";
        }
        @include desktop-landscape() {
          content: "media-query: desktop-landscape";
        }

        // mobile
        @include mobile-portrait() {
          content: "media-query: mobile-portrait";
        }
        @include mobile-landscape() {
          content: "media-query: mobile-landscape";
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 1;
    background-color: rgba(96, 96, 96, 0.7);
  }
  to {
    opacity: 0;
    background-color: transparent;
  }
}
