//
// lock-and-key specific artifact styles
//

body#lock-and-key {
  height: 1500vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.artifact.lock-and-key {
  .tint {
    visibility: visible;
    opacity: 1;
    background-color: var(--lock-and-key-yellow-rgba-80);
  }

  .content.lock-and-key {
    .absolute-content-container.lock-and-key {
      &.start {
        height: 200vh;
        width: 100%;
        max-width: 100vw;

        .content {
          .title {
            color: var(--lock-and-key-yellow);
          }
          .image-container img.artifact {
            height: 90%;
            width: auto;
            @include mobile-portrait() {
            }
            @include mobile-landscape() {
              height: 75%;
            }
          }
        }

        @include mobile-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }

        @include mobile-landscape() {
        }
        @include desktop-strong-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      &.before-thoreaus-friend {
        height: 100vh;
      }

      &.thoreaus-friend {
        height: 200vh;
        // min-height: 300vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        top: 9vh;
        left: 5vw;
        width: 27rem;
        max-width: 27rem;

        @include mobile-portrait() {
          top: 40vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 10vh;
          left: 5vw;
          width: 35vw;
          max-width: 35vw;
        }
      }

      &.before-he-walked {
        height: 100vh;
      }

      &.he-walked {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 8vh;
        left: 5vw;
        width: 27rem;
        max-width: 27rem;

        @include mobile-portrait() {
          top: 38vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 10vh;
          left: 5vw;
          width: 35vw;
          max-width: 35vw;
        }
      }

      &.before-he-wrote {
        height: 100vh;
      }

      &.he-wrote {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 6vh;
        left: 5vw;
        width: 30vw;
        max-width: 30vw;

        @include mobile-portrait() {
          top: 42vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 5vh;
          left: 10vw;
          width: 45vw;
          max-width: 45vw;
        }
      }

      &.under-a-government {
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 30vh;
        left: calc(50vw - var(--thoreau-quote-width) / 2);
        width: var(--thoreau-quote-width);
        max-width: var(--thoreau-quote-width);

        font-weight: 600;
        color: var(--white);
        font-size: var(--explore-content-heading);
        font-family: "Libre Caslon Text", serif;

        text-indent: -1rem;
        hr {
          border-color: var(--navy-blue);
        }
        .author {
          font-weight: 300;
          text-indent: 0;
          .mute-button {
            color: var(--navy-blue);
          }
        }

        @include mobile-portrait() {
          top: 24vh;
          left: 20vw;
          width: 58vw;
          max-width: 58vw;
        }
        @include mobile-landscape() {
        }
      }

      &.town {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        .video--wrapper {
          .tint {
            visibility: visible;
            opacity: 1;
            background-color: var(--lock-and-key-yellow-rgba-80);
          }
        }
      }
    }
  }

  .image-container {
    @include mobile-portrait() {
      img.lock-and-key-photo {
        width: 80%;
      }
    }
    @include mobile-landscape() {
      img.lock-and-key-photo {
        width: 60%;
      }
    }
  }

  .fixed-image-container.lock-and-key {
    visibility: hidden;
    opacity: 0;
    img {
      width: 100%;

      @include mobile-portrait() {
        object-position: 45%;
      }
    }
  }

  .animation-frame-container.lock-and-key {
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    img {
      margin: 4vh 0 0 16vw;
      width: 88vw;
      height: auto;
    }
    @include mobile-portrait() {
      top: 0vh;
      width: 100vw;
      left: 0;
      height: 50vh;
      img {
        margin: 4vh 0 0 0;
        width: 100%;
        height: auto;
      }
    }
    @include mobile-landscape() {
      img {
        margin: 8vh 0 0 32vw;
        width: 70%;
        height: auto;
      }
    }
  }

  .background-image-container.lock-and-key {
    &:before {
      background-color: transparent;
    }
  }
}

//
// style changes based on content scroll position
//

#lock-and-key[data-content-scroll="0"] {
  .unmute-footer {
    display: flex;
  }

  .mute-button-wrapper {
    z-index: 1;
    bottom: var(--unmute-bottom-first-page);
    bottom: 0;
  }

  .background-image-container.lock-and-key {
    &:before {
      background-color: white;
      background-image: url("../media/images/thoreau-handwriting-dark-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .absolute-content-container.lock-and-key.start {
    visibility: visible;
    opacity: 1;

    .image-container {
      -webkit-clip-path: inset(0% 0% 0% 0%);
      clip-path: inset(0% 0% 0% 0%);
      transition: opacity var(--explore-images-timing),
        background-image var(--explore-images-timing);

      background-image: url(../media/images/lock-and-key/watercolor-background.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .explore-another-object {
    visibility: visible;
    opacity: 1;
  }

  div.arrow-scroll-down {
    bottom: var(--arrow-scroll-down-bottom-first-screen);
    visibility: visible;
    opacity: 1;
    color: var(--navy-blue);
    @include mobile-landscape() {
      bottom: var(--arrow-scroll-down-bottom-first-screen);
    }
    svg {
      color: var(--navy-blue);
    }
  }
}

#lock-and-key[data-content-scroll="1"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .fixed-image-container {
    visibility: visible;
    opacity: 1;
    img {
      visibility: visible;
      opacity: 1;
    }
  }
}

#lock-and-key[data-content-scroll="2"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .animation-frame-container.lock-and-key {
    opacity: 1;
    visibility: visible;
  }
}

#lock-and-key[data-content-scroll="3"],
#lock-and-key[data-content-scroll="4"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .absolute-content-container.lock-and-key.thoreaus-friend {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  .animation-frame-container.lock-and-key {
    opacity: 1;
    visibility: visible;
  }
}
#lock-and-key[data-content-scroll="3"] {
  .absolute-content-container.lock-and-key.thoreaus-friend {
    position: sticky;
  }
}

#lock-and-key[data-content-scroll="5"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .animation-frame-container.lock-and-key {
    opacity: 1;
    visibility: visible;
  }
}

#lock-and-key[data-content-scroll="6"],
#lock-and-key[data-content-scroll="7"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .absolute-content-container.lock-and-key.he-walked {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  .animation-frame-container.lock-and-key {
    opacity: 1;
    visibility: visible;
  }
}
#lock-and-key[data-content-scroll="6"] {
  .absolute-content-container.lock-and-key.he-walked {
    position: sticky;
  }
}

#lock-and-key[data-content-scroll="8"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .animation-frame-container.lock-and-key {
    opacity: 1;
    visibility: visible;
    img {
      margin: 8vh 0 0 0;
      width: 100%;
      height: auto;
      transform: scale(1.06);
      @include mobile-portrait() {
      }
      @include mobile-landscape() {
        margin: -6vh 0 0 0;
        width: 100%;
        height: auto;
        transform: scale(1);
      }
    }
  }
}

#lock-and-key[data-content-scroll="9"],
#lock-and-key[data-content-scroll="10"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .absolute-content-container.lock-and-key.he-wrote {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
  .animation-frame-container.lock-and-key {
    opacity: 1;
    visibility: visible;
    img {
      margin: 8vh 0 0 0;
      width: 100%;
      height: auto;
      transform: scale(1.06);
      @include mobile-portrait() {
      }
      @include mobile-landscape() {
        margin: -6vh 0 0 0;
        width: 100%;
        height: auto;
        transform: scale(1);
      }
    }
  }
}
#lock-and-key[data-content-scroll="9"] {
  .absolute-content-container.lock-and-key.he-wrote {
    position: sticky;
  }
}

#lock-and-key[data-content-scroll="11"],
#lock-and-key[data-content-scroll="12"] {
  .background-image-container.lock-and-key {
    &:before {
      background-color: var(--lock-and-key-yellow);
    }
  }

  .absolute-content-container.lock-and-key.under-a-government {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }

  .fixed-video-container.lock-and-key.town {
    visibility: visible;
    opacity: 1;
    .tint {
      transition: opacity var(--explore-images-timing),
        visibility var(--explore-images-timing);
      visibility: visible;
      opacity: 1;
      background-color: var(--lock-and-key-yellow-rgba-80);
    }
  }
}

#lock-and-key[data-content-scroll="11"] {
  .absolute-content-container.lock-and-key.under-a-government {
    visibility: visible;
    opacity: 1;
    position: sticky;
  }
}

#lock-and-key[data-content-scroll="13"],
#lock-and-key[data-content-scroll="14"] {
  .absolute-content-container.lock-and-key.town {
    visibility: visible;
    opacity: 1;
  }

  .fixed-video-container.lock-and-key.town {
    visibility: visible;
    opacity: 1;
    .tint {
      visibility: hidden;
      opacity: 0;
      background-color: transparent;
    }
  }

  .arrow-scroll-down {
    visibility: hidden;
    opacity: 0;
  }

  .next-object-footer,
  .back-to-top {
    visibility: visible;
    opacity: 1;
  }

  .next-object-footer {
    visibility: visible;
    transition: opacity var(--next-object-footer-timing-out),
      visibility var(--next-object-footer-timing-out);
  }

  .mute-button-wrapper {
    bottom: var(--unmute-bottom-last-page);
    color: var(--white);
    .mute-button div {
      filter: drop-shadow(0 0 0.5rem var(--navy-blue));
    }
  }
}
