@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  margin: 30px 40px;
  @media (max-width: 576px) {
    margin: 10px 10px;
  }
  padding: 0;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
}

.content {
  .main {
    @media (min-width: 576px) {
      height: 90vh;
    }
    .left {
      img {
        width: 16%;
      }
      .title {
        margin: 4vh 0;
        @media (max-width: 576px) {
          margin: 2vh 0;
        }
        font-size: var(--artifact-title);
        font-weight: 600;
        color: var(--thoreau-blue);
        line-height: 1em;
        text-transform: capitalize;
      }
      hr {
        display: none;
        width: 25%;
        @media (min-width: 576px) {
          display: block;
        }
      }
      .description {
        margin: 4vh 0;
        width: 65%;
        font-size: var(--artifact-description);
        line-height: 2em;
        color: black;
        @media (max-width: 576px) {
          margin: 2vh 0;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (max-width: 576px) {
        justify-content: flex-start;
      }

      .image-container {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid var(--border-gray);
        border-radius: 0.5vmin;
        img {
          margin: 20% 0;
          width: 80%;
          align-self: center;
          @media (max-width: 576px) {
            width: 90%;
          }
        }
      }
    }
  }
}
