@import "colors";
@import "fonts";
@import "transitions";

* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  margin: 30px 40px;
  @media (max-width: 576px) {
    margin: 10px 10px;
  }
  @media (max-height: 576px) {
    margin: 10px 20px;
  }
  padding: 0;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: black;
}

.content {
  .main {
    @media (min-width: 576px) {
      height: 90vh;
    }
    .left {
      height: 100%;
      img {
        width: 16%;
      }
      .title {
        margin: 4vh 0;
        @media (max-width: 576px) {
          margin: 2vh 0;
        }
        font-family: "Libre Caslon Text", serif;
        font-size: var(--artifact-title);
        font-weight: 600;
        color: var(--thoreau-blue);
        line-height: 1.1em;
        text-transform: capitalize;
      }
      hr {
        display: none;
        width: 25%;
        @media (max-width: 576px), (max-height: 576px) {
          display: block;
        }
      }
      .description {
        margin: 4vh 0;
        width: 65%;
        @media (max-width: 576px), (max-height: 576px) {
          width: 85%;
        }
        font-size: var(--artifact-description);
        line-height: 2em;
        color: black;
        @media (max-width: 576px) {
          margin: 2vh 0;
        }
      }
    }
    .right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (max-width: 576px) {
        justify-content: flex-start;
      }

      .image-container {
        height: 90%;
        @media (max-width: 576px) {
          height: 45vh;
        }
        @media (max-height: 576px) {
          height: 80vh;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid var(--border-gray);
        border-radius: 0.5vmin;
        img {
          margin: 20% 0;
          width: 80%;
          align-self: center;
          @media (max-width: 576px), (max-height: 576px) {
            width: 90%;
          }
        }
        .explore {
          align-self: flex-start;
          margin-top: 1em;
          margin-left: calc(10% - 1.5em);
          padding: 0.35em 2em 0.35em 1.5em;
          border: 1px solid lightgray;
          border-radius: 1em;
          background-color: lightgray;
          font-size: var(--explore);
          *[type="button"] {
            font-size: var(--explore-button);
            border-radius: 1em;
            margin-left: 1em;
            padding: 0.25em 0.5em;
            width: 2.2em;
            height: 2em;
          }
        }
      }
    }
  }
}

.explore-images {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: unset;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-color: var(--thoreau-blue);
    transition: background-color var(--explore-images-timing),
      background-image var(--explore-images-timing),
      opacity var(--explore-images-timing);
  }

  .back-button {
    position: relative;
    top: 1vh;
    left: 1vw;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s 0s;
    a {
      i {
        color: lightgray;
        font-size: var(--back-button-size);
        &:hover {
          color: white;
        }
      }
    }
  }

  .fixed-image-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90%;
    @media (max-width: 576px) {
      height: 100vh;
    }
    @media (max-height: 576px) {
      height: 90vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s, visibility 0.5s 0s;
      margin: 20% 0;
      width: 80%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        width: 90%;
      }
    }
    img.spyglass-photo {
      transform: rotate(-9deg);
    }
    img.spyglass-drawing {
    }
    img.animals {
      width: 60%;
      align-self: flex-end;
      margin-right: 5%;
      margin-block-end: auto;
      margin-bottom: 10%;
    }
    img.trees1 {
      width: 60%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        align-self: flex-end;
        margin-right: 5%;
        margin-block-end: auto;
        margin-bottom: 10%;
      }
    }
    img.trees2 {
      width: 60%;
      align-self: center;
      @media (max-width: 576px), (max-height: 576px) {
        align-self: flex-end;
        margin-right: 5%;
        margin-block-end: auto;
        margin-bottom: 10%;
      }
    }
    img.hawk {
      position: relative;
      top: -30vh;
      left: 25vw;
      width: 10vw;
      align-self: flex-start;
    }
  }
}

html[data-scroll="0"] img.spyglass-photo {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="1"] img.spyglass-drawing {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="2"] img.animals {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="3"] img.trees1 {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="4"] {
  img.trees2 {
    visibility: visible;
    opacity: 1;
  }
  .explore-images {
    // background-color: var(--thoreau-rgba-blue);
    &:before {
      background-image: url("/images/shoreline-and-water-grayscale.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

html[data-scroll="5"] {
  img.hawk {
    visibility: visible;
    opacity: 1;
  }

  .back-button {
    visibility: visible;
    opacity: 1;
  }

  .explore-images {
    &:before {
      background-color: unset;
      background-image: url("/images/shoreline-and-water.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.explore-content {
  display: flex;
  height: 600vh;
  color: white;
  .absolute-content-container {
    position: absolute;
    max-width: 30vw;
    font-size: var(--explore-content);
    &.spyglass-drawing {
      top: 120vh;
      left: 60vw;
    }
    &.animals {
      top: 220vh;
      left: 15vw;
      @media (max-width: 576px), (max-height: 576px) {
        left: 5vw;
      }
    }
    &.trees1 {
      top: 320vh;
      left: 15vw;
      @media (max-width: 576px), (max-height: 576px) {
        left: 5vw;
      }
    }
    &.trees2 {
      top: 460vh;
      align-self: flex-end;
      left: 35vw;
      @media (max-width: 576px), (max-height: 576px) {
        top: 430vh;
        left: 5vw;
      }
    }
    &.hawk {
      top: 515vh;
      align-self: flex-end;
      max-width: 40vw;
      left: 40vw;
      font-size: var(--explore-content-heading);
    }
  }
}
