//
// Spyglass specific artifact styles
//

body#spyglass {
  height: 1200vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.artifact.spyglass {
  .content.spyglass {
    .absolute-content-container.spyglass {
      &.start {
        height: 200vh;
        width: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: row;

        @include mobile-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }

        @include mobile-landscape() {
        }
        @include desktop-strong-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      &.curious {
        height: 300vh;
        min-height: 300vh;
        position: sticky;
        top: 8vh;
        left: 68vw;
        width: 26vw;
        max-width: 30vw;
        margin-top: 18vh;

        @include mobile-landscape() {
          top: 38vh;
          left: 72vw;
        }

        @include mobile-portrait() {
          top: 12vh;
          left: 35vw;
          width: 50vw;
          left: 40vw;
          max-width: 60vw;
        }
      }

      &.his-experiments {
        height: 400vh;
        position: sticky;
        top: 3em;
        left: 4rem;
        max-width: 25vw;

        @include mobile-landscape() {
          left: 3vw;
          max-width: 30vw;
        }
        @include mobile-portrait() {
          top: 10vh;
          left: 14vw;
          max-width: 70vw;
        }
      }

      &.some-scientific {
        height: 200vh;
        position: sticky;
        top: 7em;
        left: 4em;
        max-width: 22vw;

        @include mobile-landscape() {
          top: 15vh;
          left: 3vw;
          max-width: 30vw;
        }
        @include mobile-portrait() {
          top: 25vh;
          left: 10vw;
          max-width: 70vw;
        }
      }

      &.would-it-not {
        height: 90vh;
        max-width: 45vw;
        margin-left: 22%;
        color: var(--white);
        font-size: var(--explore-content-heading);
        font-family: "Libre Caslon Text", serif;
        text-indent: -0.9rem;
        hr {
          border-color: var(--navy-blue);
        }
        .author {
          text-indent: 0;
          .mute-button {
            color: var(--navy-blue);
          }
        }

        img.spyglass.hawk {
          position: absolute;
          margin-left: -12rem;
          top: 2vh;
        }
        @include mobile-landscape() {
          height: 92vh;
          text-indent: -0.7rem;
          margin-left: 50%;
          img.spyglass.hawk {
            transform: scale(0.65);
            margin-left: -15rem;
            top: -2vh;
          }
        }
        @include mobile-landscape-small() {
          height: 92vh;
          text-indent: -0.5rem;
          hr {
            display: none;
          }
          img.spyglass.hawk {
            transform: scale(0.5);
            margin-left: -13rem;
            top: -1vh;
          }
        }
        @include mobile-portrait() {
          margin: unset;
          left: 10vw;
          width: 100%;
          .quote-wrapper {
            width: 60vw;
          }
          img.spyglass.hawk {
            transform: scale(0.65);
            margin-left: 42vw;
            top: 16vh;
          }
        }
      }
    }
  }

  .image-container {
    @include mobile-portrait() {
      img.spyglass-photo {
        width: 80%;
      }
    }
    @include mobile-landscape() {
      img.spyglass-photo {
        width: 60%;
      }
    }
  }

  .fixed-image-container.spyglass {
    img.spyglass-photo-rotated {
      transform: rotate(-9deg);
    }
  }

  .animation-frame-container.spyglass {
    padding: 0 0 1vh 0;
    justify-content: flex-end;
    @include mobile-portrait() {
      padding: 2rem 0 0 0;
      justify-content: center;
    }
    @include mobile-landscape() {
      padding: 2rem 0 0 0;
      justify-content: center;
    }
  }

  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-rgba-blue);
    }
  }
}

#spyglass[data-content-scroll="0"] {
  .arrow-scroll-down {
    img {
      content: url("../media/images/arrow-scroll-down.png");
    }
  }

  .animation-frame-container.spyglass {
    visibility: hidden;
    opacity: 0;
  }

  .background-image-container.spyglass {
    &:before {
      background-color: white;
      background-image: url("../media/images/thoreau-handwriting-dark-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .absolute-content-container.spyglass.start {
    visibility: visible;
    opacity: 1;

    .image-container {
      -webkit-clip-path: inset(0% 0% 0% 0%);
      clip-path: inset(0% 0% 0% 0%);
      transition: opacity var(--explore-images-timing),
        background-image var(--explore-images-timing);

      img {
        transform: scale(1);
      }

      background-image: url(../media/images/watercolor-background-blue.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .explore-another-object {
    visibility: visible;
    opacity: 1;
  }

  img.spyglass-photo {
    visibility: visible;
    opacity: 1;
  }

  .arrow-scroll-down {
    visibility: visible;
    opacity: 1;
  }
}

#spyglass[data-content-scroll="1"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-rgba-blue);
      background-image: url("../media/images/thoreau-handwriting-light-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  img.spyglass-photo-rotated {
    visibility: visible;
    opacity: 1;
  }
  .arrow-scroll-down {
    visibility: visible;
    opacity: 1;
  }
}

#spyglass[data-content-scroll="2"],
#spyglass[data-content-scroll="3"],
#spyglass[data-content-scroll="4"] {
  .absolute-content-container.spyglass.curious {
    visibility: visible;
    opacity: 1;
  }
  .arrow-scroll-down {
    visibility: visible;
    opacity: 1;
  }
}

#spyglass[data-content-scroll="5"],
#spyglass[data-content-scroll="6"],
#spyglass[data-content-scroll="7"],
#spyglass[data-content-scroll="8"] {
  .absolute-content-container.spyglass.his-experiments {
    visibility: visible;
    opacity: 1;
  }
  .arrow-scroll-down {
    visibility: visible;
    opacity: 1;
  }
}

#spyglass[data-content-scroll="9"],
#spyglass[data-content-scroll="10"] {
  .absolute-content-container.spyglass.some-scientific {
    visibility: visible;
    opacity: 1;
  }
  .arrow-scroll-down {
    visibility: visible;
    opacity: 1;
  }
}

#spyglass[data-content-scroll="11"] {
  .absolute-content-container.spyglass.would-it-not {
    visibility: visible;
    opacity: 1;
  }
  .background-image-container.spyglass {
    visibility: hidden;
    &:before {
      background-image: url("../media/images/pond-and-fog-986727760-170667a.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .fixed-image-container.spyglass.hawk {
    visibility: visible;
    opacity: 1;
  }
  .fixed-video-container.spyglass.walden-sunset-video {
    visibility: visible;
    opacity: 1;
  }
  .animation-frame-container.spyglass {
    visibility: hidden;
    opacity: 0;
  }
}
