//
// Spyglass specific artifact styles
//

body#spyglass {
  height: 1200vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.artifact.spyglass {
  .tint {
    visibility: visible;
    opacity: 1;
    background-color: var(--thoreau-blue-rgba-80);
  }

  .content.spyglass {
    .absolute-content-container.spyglass {
      &.start {
        height: 400vh;
        width: 100%;
        max-width: 100vw;

        .content {
          .title {
            color: var(--thoreau-blue);
          }
          .image-container img.artifact {
            width: 100%;
            height: auto;
          }
        }

        @include mobile-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }

        @include mobile-landscape() {
        }
        @include desktop-portrait() {
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      &.curious {
        height: 300vh;
        // min-height: 300vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        top: 57vh;
        left: 7vw;
        width: 27rem;
        max-width: 27rem;

        @include mobile-portrait() {
          top: 44vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 40vh;
          left: 7vw;
          width: 29vw;
          max-width: 29vw;
        }

        @include desktop-square() {
          top: 60vh;
          left: 15vw;
          width: 75vw;
          max-width: 80vw;
        }
      }

      &.his-experiments {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 9vh;
        left: 7vw;
        width: 27rem;
        max-width: 27rem;

        @include mobile-portrait() {
          top: 42vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }

        @include mobile-landscape() {
          top: 6vh;
          left: 3vw;
          width: 45vw;
          max-width: 45vw;
        }

        @include desktop-square() {
          top: 60vh;
          left: 10vw;
          width: 80vw;
          max-width: 80vw;
        }
      }

      &.would-it-not {
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        opacity: 0;
        top: 30vh;
        left: calc(50vw - var(--thoreau-quote-width) / 2);
        width: var(--thoreau-quote-width);
        max-width: var(--thoreau-quote-width);

        font-weight: 600;
        color: var(--white);
        font-size: var(--thoreau-quote);
        font-family: "Libre Caslon Text", serif;

        text-indent: -1rem;
        hr {
          border-color: var(--navy-blue);
        }
        .author {
          font-weight: 300;
          text-indent: 0;
          .mute-button {
            color: var(--navy-blue);
          }
        }

        @include mobile-portrait() {
          top: 24vh;
          left: 20vw;
          width: 58vw;
          max-width: 58vw;
        }
        @include mobile-landscape() {
        }
      }

      &.walden-sunset {
        height: 200vh;
        position: -webkit-sticky;
        position: sticky;
        visibility: hidden;
        .video--wrapper {
          .tint {
            visibility: visible;
            opacity: 1;
            background-color: var(--thoreau-blue-rgba-80);
          }
        }
      }
    }
  }

  .image-container {
    @include mobile-portrait() {
      img.spyglass-photo {
        width: 80%;
      }
    }
    @include mobile-landscape() {
      img.spyglass-photo {
        width: 60%;
      }
    }
  }

  .fixed-image-container.spyglass {
    img.spyglass-photo-rotated {
      min-height: unset;
      min-width: unset;
      object-fit: contain;
      width: 80%;
      transform: rotate(-9deg);
      @include mobile-portrait() {
        width: 90vw;
        height: auto;
        transform: rotate(-9deg) translate(1.5rem, -16vh);
      }
    }
  }

  .animation-frame-container.spyglass {
    visibility: hidden;
    opacity: 0;
    @include mobile-portrait() {
    }
    @include mobile-landscape() {
      margin: 0 0 0 0;
      padding: 2rem 0 0 0;
      justify-content: center;
    }
  }

  .background-image-container.spyglass {
    &:before {
      background-color: transparent;
    }
  }
}

//
// style changes based on content scroll position
//

#spyglass[data-content-scroll="0"] {
  .unmute-footer {
    display: flex;
  }

  .mute-button-wrapper {
    z-index: 1;
    bottom: var(--unmute-bottom-first-page);
    bottom: 0;
  }

  .animation-frame-container.spyglass {
    visibility: hidden;
    opacity: 0;
  }

  .background-image-container.spyglass {
    &:before {
      background-color: white;
      background-image: url("../media/images/thoreau-handwriting-dark-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .absolute-content-container.spyglass.start {
    visibility: visible;
    opacity: 1;

    .image-container {
      -webkit-clip-path: inset(0% 0% 0% 0%);
      clip-path: inset(0% 0% 0% 0%);
      transition: opacity var(--explore-images-timing),
        background-image var(--explore-images-timing);

      img {
        transform: scale(1);
      }

      background-image: url(../media/images/watercolor-background-blue.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .explore-another-object {
    visibility: visible;
    opacity: 1;
  }

  img.spyglass-photo {
    visibility: visible;
    opacity: 1;
  }

  div.arrow-scroll-down {
    bottom: var(--arrow-scroll-down-bottom-first-screen);
    visibility: visible;
    opacity: 1;
    color: var(--navy-blue);
    @include mobile-landscape() {
      bottom: var(--arrow-scroll-down-bottom-first-screen);
    }
    svg {
      color: var(--navy-blue);
    }
  }
}

#spyglass[data-content-scroll="1"],
#spyglass[data-content-scroll="2"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-blue);
      background-image: url("../media/images/thoreau-handwriting-light-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .animation-frame-container.spyglass {
    visibility: visible;
    opacity: 1;
    img {
      width: 110%;
      height: auto;
    }
    @include desktop-square() {
      img {
        width: 110%;
        height: auto;
      }
    }

    @include mobile-portrait() {
      top: 15vh;
      img {
        width: 110%;
        height: auto;
      }
    }
  }
  img.spyglass-photo-rotated {
    visibility: visible;
    opacity: 1;
  }
}

#spyglass[data-content-scroll="2"] {
  img.spyglass-photo-rotated {
    visibility: hidden;
    opacity: 0;
  }
}

#spyglass[data-content-scroll="3"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-blue);
    }
  }

  .animation-frame-container.spyglass {
    visibility: visible;
    opacity: 1;
    padding: 1vw 5vw 20vh 30vw;
    img {
      width: 100%;
      height: auto;
    }
    @include desktop-square() {
      padding: 0vw 5vw 45vh 5vw;
      img {
        height: 100%;
        width: auto;
      }
    }
    @include mobile-portrait() {
      top: 3vh;
      padding: 0 5vw;
      img {
        width: 100%;
      }
    }
  }
}

#spyglass[data-content-scroll="4"],
#spyglass[data-content-scroll="5"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-blue);
    }
  }

  .absolute-content-container.spyglass.curious {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
  .animation-frame-container.spyglass {
    visibility: visible;
    opacity: 1;
    padding: 2vw 5vw 22vh 30vw;
    img {
      width: 100%;
      height: auto;
    }

    @include desktop-square() {
      padding: 0vw 5vw 45vh 5vw;
      img {
        height: 100%;
        width: auto;
      }
    }
    @include mobile-portrait() {
      top: 3vh;
      padding: 0 5vw;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
#spyglass[data-content-scroll="4"] {
  .absolute-content-container.spyglass.curious {
    position: sticky;
  }
}

#spyglass[data-content-scroll="6"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-blue);
    }
  }

  .animation-frame-container.spyglass {
    visibility: visible;
    opacity: 1;
    img {
      margin: 15vh 30vw 10vh 30vw;
      width: 76%;
      height: auto;
    }
    @include mobile-portrait() {
      top: -10vh;
      padding: 0 7vw;
      img {
        width: 100%;
      }
    }
    @include desktop-square() {
      padding: 0vw 5vw 45vh 5vw;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

#spyglass[data-content-scroll="7"],
#spyglass[data-content-scroll="8"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-blue);
    }
  }

  .absolute-content-container.spyglass.his-experiments {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
  .animation-frame-container.spyglass {
    visibility: visible;
    opacity: 1;
    img {
      margin: 15vh 30vw 10vh 30vw;
      width: 76%;
      height: auto;
    }
    @include mobile-portrait() {
      top: -10vh;
      padding: 0 7vw;
      img {
        width: 100%;
      }
    }

    @include desktop-square() {
      padding: 0vw 5vw 45vh 5vw;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
#spyglass[data-content-scroll="7"] {
  .absolute-content-container.spyglass.his-experiments {
    position: sticky;
  }
}

#spyglass[data-content-scroll="9"],
#spyglass[data-content-scroll="10"] {
  .background-image-container.spyglass {
    &:before {
      background-color: var(--thoreau-blue);
    }
  }

  .absolute-content-container.spyglass.would-it-not {
    visibility: visible;
    opacity: 1;
    position: sticky;
  }

  .fixed-video-container.spyglass.walden-sunset {
    visibility: visible;
    opacity: 1;
    .tint {
      visibility: visible;
      opacity: 1;
      background-color: var(--thoreau-blue-rgba-80);
    }
  }
}

#spyglass[data-content-scroll="10"] {
  .absolute-content-container.spyglass.would-it-not {
    visibility: visible;
    opacity: 1;
    position: fixed;
  }
}

#spyglass[data-content-scroll="11"],
#spyglass[data-content-scroll="12"] {
  .absolute-content-container.spyglass.walden-sunset {
    visibility: visible;
    opacity: 1;
  }

  .fixed-video-container.spyglass.walden-sunset {
    visibility: visible;
    opacity: 1;
    .tint {
      visibility: hidden;
      opacity: 0;
      background-color: transparent;
    }
  }

  .animation-frame-container.spyglass,
  .arrow-scroll-down {
    visibility: hidden;
    opacity: 0;
  }

  .next-object-footer,
  .back-to-top {
    visibility: visible;
    opacity: 1;
  }

  .next-object-footer {
    visibility: visible;
    transition: opacity var(--next-object-footer-timing-out),
      visibility var(--next-object-footer-timing-out);
  }

  .mute-button-wrapper {
    bottom: var(--unmute-bottom-last-page);
    color: var(--white);
    .mute-button div {
      filter: drop-shadow(0 0 0.5rem var(--navy-blue));
    }
  }
}
