.about-thoreau {
  width: 30vw;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: calc(var(--unmute-footer-height) + 2px);
  background-color: var(--navy-blue);
  @include mobile-portrait() {
    width: 100vw;
    min-height: 100vh;
  }

  .offcanvas-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 8vh;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5rem;
    button.close.mobile-only {
      display: none;
    }
    button.close.desktop-only {
      color: var(--white);
      width: var(--about-thoreau-close);
      height: var(--about-thoreau-close);
      border: 1px solid var(--white);
      border-radius: var(--about-thoreau-close-radius);
      background-color: var(--about-thoreau-close-background);
      svg.about-thoreau-close-svg {
        color: var(--navy-blue);
        width: var(--about-thoreau-close-svg);
        height: auto;
        stroke-width: 0.09rem;
        vertical-align: middle;
        margin-bottom: -0.2rem;
      }
    }
    @include mobile-portrait() {
      position: sticky;
      width: 100vw;
      height: 8vh;
      padding: 0;
      border-bottom: 1px solid var(--white);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button.close.desktop-only {
        display: none;
      }
      button.close.mobile-only {
        display: block;
        margin: 0 2.5rem 0 0;
        width: 3.2rem;
        height: 3.2rem;
        border: 1px solid white;
        color: var(--navy-blue);
        background-color: var(--november-skies);
        border-radius: 1.6rem;
        padding-left: 0.7rem;
        padding-top: 0rem;
        svg {
          margin-left: -0.5rem;
          stroke-width: 3;
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  .offcanvas-body {
    margin: 0;
    padding: 4.5vh 2vw 0 2vw;
    // overflow: hidden;

    .title {
      margin: 1.9rem 0 1rem 0;
      font-family: "Libre Caslon Text";
      font-weight: 700;
      font-size: var(--about-thoreau-title);
      color: var(--november-skies);
    }

    hr.title {
      width: 12%;
      border-top: 1px solid var(--white);
      margin: 1rem 0 1rem 0;
      opacity: 1;
      @include mobile-portrait() {
        width: 30%;
      }
    }

    .description {
      width: 96%;
      color: var(--white);
      font-family: "Nunito Sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: var(--about-thoreau-description);
      line-height: var(--about-thoreau-description-line-height);
      p:first-of-type {
        margin-bottom: 1.5rem;
      }
    }

    @include mobile-portrait() {
      margin: 0;
      padding: 4vh 8vw;
      display: flex;
      flex-direction: column;
      overflow-y: visible !important;
      img {
        // align-self: center;
      }
      .title {
        margin: 2.2rem 0 0.8rem 0;
        font-family: "Libre Caslon Text";
        font-weight: 700;
        font-size: var(--about-thoreau-title);
        color: var(--november-skies);
      }
      hr.title {
        width: 14%;
        margin: 0.8rem 0 1.4rem 0;
      }
    }
  }
}
