.about-thoreau {
  width: var(--about-thoreau-width);
  min-width: var(--about-thoreau-min-width);

  overflow-y: auto;
  overflow-x: hidden;
  bottom: calc(var(--unmute-footer-height) + 2px);
  background-color: var(--navy-blue);
  @include mobile {
    width: 100vw;
    min-height: 100vh;
  }

  .offcanvas-header {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--about-thoreau-width);
    min-width: var(--about-thoreau-min-width);
    height: 8vh;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5rem;
    button.close {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border: 1px solid white;
      color: var(--navy-blue);
      background-color: var(--november-skies);
      border-radius: 1rem;
      svg {
        display: block;
        stroke-width: 3;
        width: 0.8rem;
        height: 0.8rem;
      }
    }
    @include mobile {
      position: sticky;
      width: 100vw;
      height: 8vh;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button.close {
        width: 2.6rem;
        height: 2.6rem;
        margin-right: 4vh;
        border: 1px solid white;
        border-radius: 1.3rem;
        color: var(--navy-blue);
        background-color: var(--november-skies);
        svg {
          stroke-width: 3;
          width: 1rem;
          height: 1rem;
        }
      }
    }
    @include mobile-landscape() {
      button.close {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1.4rem;
        svg {
          display: block;
          stroke-width: 3;
          width: 0.7rem;
          height: 0.7rem;
        }
      }
    }
  }

  .offcanvas-body {
    margin: 0;
    padding: 4.5vh 2vw 0 2vw;
    display: flex;
    flex-direction: column;

    // overflow: hidden;
    img {
      width: 84%;
      max-width: var(--about-thoreau-max-img-width);
      height: auto;
    }

    .about {
      display: flex;
      flex-direction: column;
      .title {
        margin: 1.6rem 0 1rem 0;
        font-family: "Libre Caslon Text";
        font-weight: 700;
        font-size: var(--about-thoreau-title);
        color: var(--november-skies);
      }

      hr.title {
        width: 12%;
        border-top: 1px solid var(--white);
        margin: 0.5rem 0 1rem 0;
        opacity: 1;
        @include mobile-portrait() {
          width: 30%;
        }
      }

      .description {
        width: 96%;
        color: var(--white);
        font-family: "Nunito Sans", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: var(--about-thoreau-description);
        line-height: var(--about-thoreau-description-line-height);
        p:first-of-type {
          margin-bottom: 1.5rem;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @include mobile-portrait() {
      margin: -3vh 0 0 0;
      padding: 0vh 8vw;
      display: flex;
      flex-direction: column;
      overflow-y: visible !important;
      img {
        // align-self: center;
      }
      .about {
        .title {
          margin: 2.2rem 0 0.8rem 0;
          font-family: "Libre Caslon Text";
          font-weight: 700;
          font-size: var(--about-thoreau-title);
          color: var(--november-skies);
        }
        hr.title {
          width: 14%;
          margin: 0.8rem 0 1.4rem 0;
        }
      }
    }

    @include mobile-landscape() {
      margin: 0;
      padding: 2vh 4vw;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 80%;
        width: auto;
      }
      .about {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
          margin: 1rem 0 0.6rem 0;
          font-family: "Libre Caslon Text";
          font-weight: 700;
          font-size: var(--about-thoreau-title);
          color: var(--november-skies);
        }
        hr.title {
          width: 60%;
          margin: 0.6rem 0 1.2rem 0;
        }
      }
    }
  }
}
