.animation-frame-container {
  z-index: 0;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  visible: hidden;
  opacity: 0;

  @include mobile-portrait() {
    width: 100vw;
    height: auto;
    top: 0;
    padding: 0;
    justify-content: center;
  }
  @include mobile-landscape() {
    height: 90vh;
  }
  img {
    transition: opacity var(--explore-images-timing),
      visibility var(--explore-images-timing);
    margin: 5vh 10vw;
    height: 100%;
    width: auto;
    aspect-ratio: attr(width) / attr(height);
    align-self: center;
    @include mobile-portrait() {
      width: 95vw;
      margin: 20% 0;
    }
    @include mobile-landscape() {
      width: 100%;
    }
  }
}
