.arrow-scroll-down {
  pointer-events: all;
  position: fixed;
  bottom: 2.5vh;
  z-index: 3;
  visibility: visible;
  opacity: 1;
  height: 3.75rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
  .label {
    font-size: var(--scroll-down-label);
    opacity: 0;
    transition: opacity var(--explore-content-timing);
  }
  &:hover {
    .label {
      opacity: 1;
    }
  }
  svg.arrow-scroll-down {
    display: block;
    transform: rotate(0turn);
    margin: 0;
    color: var(--white);
    stroke-width: 1.5px;
    height: 2rem;
    width: auto;
  }

  @include mobile-portrait() {
  }
  @include mobile-landscape() {
    bottom: 3vh;
    img {
      transform: scale(0.8);
    }
  }
  @include mobile-landscape-small() {
    bottom: 2vh;
    img {
      transform: scale(0.7);
    }
  }
  background-color: transparent;
  transition: opacity var(--explore-images-timing),
    visibility var(--explore-images-timing), bottom var(--arrow-scroll-timing);
}
