.back-to-top {
  visibility: hidden;
  opacity: 0;
  font-size: var(--explore-content-mute-button);
  color: var(--mute-button-color);
  position: fixed;
  bottom: 11.4vh;
  right: 17vw;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  pointer-events: auto;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include mobile-portrait() {
    bottom: 2.5vh;
    right: unset;
    left: 6vw;
    width: 30vw;
  }
  @include mobile-landscape() {
  }
  .label {
    text-transform: uppercase;
    margin-right: 0.5em;
  }
  img {
    margin-top: -0.2em;
    height: 0.9em;
    width: auto;
    transform: rotate(0.5turn);
  }
}
