.dropdown.explore-another-object {
  pointer-events: auto;
  z-index: initial;
  transform-style: preserve-3d;
  align-self: center;
  margin-top: 5vh;
  background-color: transparent;
  transition: opacity var(--explore-images-timing),
    visibility var(--explore-images-timing);

  @include mobile-portrait() {
    margin: 0 4vw 0 0;
  }
  @include mobile-landscape() {
    margin: 0 4vw 0 0;
  }

  button {
    padding: 0.35rem 1.5rem 0.33rem 1.5rem;
    border: none;
    border-radius: 1.25rem;
    background-color: var(--navy-blue);
    font-size: var(--explore-button);
    color: var(--almost-white);
    font-weight: 300;
    &:focus {
      box-shadow: none;
    }
    span.name {
      display: inline-block;
    }
    span.toggler-icon {
      display: none;
    }
    svg.toggler-svg {
      display: inline-block;
      margin-left: 0.7rem;
      margin-bottom: -0.2rem;
      width: 1.5rem;
      height: auto;
      stroke-width: 1.5;
      color: white;
      @include mobile() {
        display: none;
      }
    }

    &::after {
      display: none;
    }
  }
  @include mobile() {
    button {
      padding: 0.35rem 0;
      border: none;
      border-radius: 1.25rem;
      background-color: var(--navy-blue);
      font-size: var(--explore-button);
      color: transparent;
      background-color: transparent;
      font-weight: 300;
      &:focus {
        box-shadow: none;
      }
      span.name {
        display: none;
      }
      span.toggler-icon {
        display: inline-block;
        width: 4vh;
        height: 4vh;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        &.light {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }

      &::after {
        display: none;
      }
    }
  }

  ul.dropdown-menu {
    z-index: -1;
    top: 1rem;
    padding-top: 2rem;
    background-color: transparent;
    display: block;
    transform: translateZ(-10px);
    visibility: hidden;
    display: none;
    opacity: 0;
    color: var(--navy-blue);
    background-color: var(--mobile-header-gray);
    transition: opacity var(--explore-menu-timing),
      visibility var(--explore-menu-timing);
    li {
      a.dropdown-item {
        visibility: hidden;
        opacity: 0;
      }
    }

    &.show {
      visibility: visible;
      display: block;
      width: 100%;
      opacity: 1;
      transition: opacity var(--explore-menu-timing),
        visibility var(--explore-menu-timing);
      padding-top: 1.75em;
      border-radius: 0.5rem;
      background-color: var(--mobile-header-gray);
      border: none;
      .close {
        display: none;
      }
      li {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--mobile-header-gray);

        &.mobile-only {
          display: none;
        }
        a.dropdown-item {
          display: inline-block;
          visibility: visible;
          opacity: 1;
          padding: 0.1rem 1rem;
          border-radius: 0;
          color: var(--navy-blue);
          &.disabled {
            color: gray;
          }
          &.selected {
            font-weight: 700;
            // &:after {
            //   content: " ✓";
            // }
          }
          background-color: var(--mobile-header-gray);
          border: none;
          font-size: var(--explore-button);
          text-decoration: none;
          &:hover {
            background-color: var(--navy-blue);
            color: white;
          }
        }
      }
      @include mobile() {
        position: absolute !important;
        // top: 7vh;
        // left: -87.5vw;
        // width: 97vw;
        // height: 83vh;
        top: 0;
        left: -90vw;
        width: 101vw;
        height: 100vh;
        z-index: 5;

        transform: none !important;
        margin: 0 !important;
        padding: 3vh 0 0 0 !important;
        background-color: var(--mobile-header-gray);

        @include mobile-landscape() {
          left: -94vw;
          width: 105vw;
          height: 100vh;
          padding: 5vh 0 0 0 !important;
        }

        .close {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 1vh;
          left: 90vw;
          color: var(--navy-blue);
          border: 1px solid white;
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 1.3rem;
          padding: 0;
          svg {
            stroke-width: 2;
            width: 1rem;
            height: 1rem;
            vertical-align: middle;
          }
          @include mobile-landscape() {
            top: 0.5vh;
            left: 94vw;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 1.2rem;
            svg {
              margin-bottom: -0.5rem;
              width: 0.9rem;
              height: 0.9rem;
            }
          }
        }
        li {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background-color: var(--mobile-header-gray);
          &:first-child {
            padding-top: 4rem;
          }
          &:last-child {
            padding-bottom: 4rem;
          }
          &.desktop-only {
            display: none;
          }
          &.mobile-only {
            display: flex;
          }
          .item {
            &.popup {
              font-size: 140%;
            }
            a.dropdown-item {
              display: inline-block;
              margin-right: auto;
              margin-left: auto;
              font-size: 140%;
              &.small {
                font-family: "Nunito Sans", sans-serif;
                font-size: 130%;
              }
              padding: 0.5rem 1rem;
              border-radius: 0;
              color: var(--navy-blue);
              &.disabled {
                color: gray;
              }
              background-color: var(--mobile-header-gray);
              border: none;

              @include mobile-landscape() {
                padding: 0.35em 1em;
                font-size: 120%;
                &.small {
                  font-size: 100%;
                }
              }
            }
            &.dropdown-divider {
              width: 20%;
              margin: 2.5rem 0;
              color: white;
              border: 1px solid white;
              opacity: 1;
              @include mobile-landscape() {
                margin: 0.8rem 0;
              }
              &.wide {
                width: 100%;
                margin-bottom: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
