.mute-button {
  font-size: var(--explore-content-mute-button);
  color: var(--mute-button-color);
  text-transform: uppercase;
  &.secondary {
    position: fixed;
    bottom: 2vh;
    transition: bottom var(--mute-button-timing);
    right: var(--unmute-right-distance);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.02rem;
    @include mobile-portrait() {
      bottom: 2.5vh;
    }
    @include mobile-landscape() {
    }
  }
  pointer-events: auto;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  div {
    margin-right: 0.3rem;
    font-size: var(--explore-content-mute-button);
    &.off {
      display: block;
    }
    &.on {
      display: none;
    }
  }
  svg {
    width: 2rem;
    height: auto;
    margin-left: 0rem;
    circle {
      stroke-width: 0.75px;
      stroke: white;
      fill: var(--navy-blue);
    }
    path {
      stroke: white;
      fill: white;
      transform: scale(95%) translate(2px, 5px);
    }
    &.off {
      display: block;
    }
    &.on {
      display: none;
      path {
        transform: scale(60%) translate(5px, 5px);
        stroke-width: 0.1px;
      }
    }
  }
  > * {
    pointer-events: none;
  }
}
