.mute-button {
  font-size: var(--explore-content-mute-button);
  color: var(--mute-button-color);
  text-transform: uppercase;
  &.secondary {
    position: fixed;
    bottom: 2.5vh;
    right: var(--unmute-right-distance);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.02rem;
    filter: drop-shadow(0 0 0.5rem var(--navy-blue));
    @include mobile-portrait() {
      bottom: 2.5vh;
    }
    @include mobile-landscape() {
    }
  }
  pointer-events: auto;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  div {
    margin-right: 0.1em;
    margin-bottom: -0.05em;
    font-size: var(--explore-content-mute-button);
    &.off {
      display: block;
      &.x {
        margin-left: -0.5em;
        margin-bottom: 0.05em;
        font-size: 52%;
        font-weight: bold;
        svg {
          height: 1em;
          width: auto;
        }
      }
    }
    &.on {
      display: none;
    }
  }
  svg {
    height: 1.8em;
    width: auto;
    &.off {
      display: block;
    }
    &.on {
      margin-left: 0.4em;
      display: none;
    }
  }
  svg + div {
    display: block;
    margin-left: -0.2em;
    padding-bottom: 0.2em;
    text-transform: none;
  }
  > * {
    pointer-events: none;
  }
}
