.next-object-footer {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  pointer-events: auto;
  position: fixed;
  z-index: 3;
  background-color: var(--medium-gray-rgba-90);
  transition: opacity var(--next-object-footer-timing-in),
    visibility var(--next-object-footer-timing-in);

  // background: linear-gradient(
  //   0deg,
  //   var(--medium-gray-rgba-75),
  //   var(--medium-gray-rgba-65) 70%,
  //   var(--medium-gray-rgba-60) 75%,
  //   var(--medium-gray-rgba-50) 80%,
  //   var(--medium-gray-rgba-30) 90%,
  //   var(--medium-gray-rgba-0)
  // );
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 9vh;
  padding: 0;
  font-size: var(--next-object);
  font-weight: 300;

  .back-to-top {
    color: var(--navy-blue);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: var(--back-to-top);
    pointer-events: auto;
    height: 1.5rem;
    margin-right: 2.5rem;
    margin-bottom: -0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include mobile-portrait() {
    }
    @include mobile-landscape() {
    }
    .label {
      text-transform: uppercase;
      margin-right: 0.5em;
      margin-top: -0.1rem;
    }
    svg.back-to-top-svg {
      display: inline-block;
      transform: rotate(0.5turn);
      margin: 0 0 0 0.25rem;
      align-self: flex-start;
      stroke-width: 1.25;
      color: var(--navy-blue);
      height: 1rem;
      width: auto;
    }
  }

  button {
    margin-right: var(--next-object-right-margin);
    background-color: var(--navy-blue);
    opacity: 1;
    color: white;
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 0.37em 0.25rem 0.33em 1.5rem;
    svg.next-object-svg {
      display: inline-block;
      transform: rotate(-0.25turn);
      margin-left: 0.8rem;
      vertical-align: middle;
      margin-top: -0.1rem;
      stroke-width: 1.15;
      color: white;
      height: 0.9rem;
      width: auto;
    }
  }
  @include mobile-portrait() {
    height: 5vh;
    font-size: var(--next-object);
    .label {
      margin-right: 38vw;
    }
  }
  @include mobile-landscape() {
    height: 10vh;
  }
}
