.next-object-footer {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  pointer-events: auto;
  position: fixed;
  z-index: 3;
  background-color: var(--medium-gray-rgba-90);
  // background: linear-gradient(
  //   0deg,
  //   var(--medium-gray-rgba-75),
  //   var(--medium-gray-rgba-65) 70%,
  //   var(--medium-gray-rgba-60) 75%,
  //   var(--medium-gray-rgba-50) 80%,
  //   var(--medium-gray-rgba-30) 90%,
  //   var(--medium-gray-rgba-0)
  // );
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 9vh;
  padding: 0;
  font-size: var(--next-object);
  font-weight: 300;
  button {
    margin-right: 7vw;
    background-color: var(--navy-blue);
    opacity: 1;
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.3em 0.75rem 0.3em 1rem;
    svg.next-object-svg {
      display: inline-block;
      transform: rotate(-0.25turn);
      margin-left: 0.7rem;
      vertical-align: middle;
      stroke-width: 1;
      color: white;
      height: 1.05rem;
      width: auto;
    }
  }
  @include mobile-portrait() {
    height: 5vh;
    font-size: var(--next-object);
    .label {
      margin-right: 38vw;
    }
  }
  @include mobile-landscape() {
    height: 6vh;
  }
}
