.unmute-footer {
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  pointer-events: auto;
  position: fixed;
  z-index: 3;
  opacity: 0.9;
  background-color: var(--medium-gray);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  padding: 0;
  font-size: var(--unmute-footer);
  font-weight: bold;
  .label {
    margin-right: 18vw;
    color: var(--navy-blue);
  }

  &.on {
    .label {
      display: none;
    }
  }
  @include mobile-portrait() {
    height: 5vh;
    font-size: var(--unmute-footer);
    .label {
      margin-right: 38vw;
    }
  }
  @include mobile-landscape() {
    height: 6vh;
  }
}
