@mixin zoom-controls() {
  .zoom-controls {
    pointer-events: all;
    z-index: 2;
    position: absolute;
    right: var(--zoom-button-right);
    top: var(--zoom-button-top);

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0em 0em;

    button {
      padding: 0;
      margin: 0.075rem 0.25rem;
      margin: 0;
      width: var(--zoom-button-width);
      height: var(--zoom-button-height);
      background-color: var(--navy-blue);
      border: none;
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      pointer-events: all;
      cursor: pointer;
      img {
        pointer-events: none;
        width: var(--zoom-icon-width);
        height: auto;
        margin: 0;
      }
      i {
        color: white;
        font-size: 140%;
      }
      &.zoom-minus {
        border-top-left-radius: var(--zoom-button-height);
        border-bottom-left-radius: var(--zoom-button-height);
        i {
          margin-right: -0.4rem;
          margin-bottom: -1px;
        }
      }
      &.zoom-plus {
        border-top-right-radius: var(--zoom-button-height);
        border-bottom-right-radius: var(--zoom-button-height);
        i {
          margin-left: -0.4rem;
          margin-bottom: -1px;
        }
      }
    }
    .v-divide {
      width: var(--zoom-divide-width);
      min-width: 2px;
      background-color: white;
      height: auto;
    }
  }
}
