/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --thoreau-blue: #77bece;
  --thoreau-rgba-blue: rgba(119, 190, 206, 1);
  --border-gray: gray;
}

/* font sizes */
:root {
  --content: 2rem;
  --artifact-title: 4vmin;
  --artifact-description: 2vmin;
  --explore: 2.6vmin;
  --explore-button: 2vmin;
  --explore-content: 2.6vmin;
  --explore-content-weight: 400;
  --explore-content-heading: 4.6vmin;
  --explore-content-heading-weight: 500;
  --back-button-size: 2em;
}
@media (max-width: 576px), (max-height: 576px) {
  :root {
    --artifact-title: 4.5vmin;
    --artifact-description: 2.8vmin;
    --explore: 3.4vmin;
    --explore-button: 2.8vmin;
    --explore-content: 3.8vmin;
    --explore-content-weight: 600;
    --explore-content-heading: 5vmin;
    --explore-content-heading-weight: 600;
  }
}

:root {
  --explore-images-timing: 1s 0.1s ease-in-out;
  --explore-content-timing: 0.75s 0.1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px 40px;
  padding: 0;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: black;
}
@media (max-width: 576px) {
  body {
    margin: 10px 10px;
  }
}
@media (max-height: 576px) {
  body {
    margin: 10px 20px;
  }
}

@media (min-width: 576px) {
  .content .main {
    height: 90vh;
  }
}
.content .main .left {
  height: 100%;
}
.content .main .left img {
  width: 16%;
}
.content .main .left .title {
  margin: 4vh 0;
  font-family: "Libre Caslon Text", serif;
  font-size: var(--artifact-title);
  font-weight: 600;
  color: var(--thoreau-blue);
  line-height: 1.1em;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .content .main .left .title {
    margin: 2vh 0;
  }
}
.content .main .left hr {
  display: none;
  width: 25%;
}
@media (max-width: 576px), (max-height: 576px) {
  .content .main .left hr {
    display: block;
  }
}
.content .main .left .description {
  margin: 4vh 0;
  width: 65%;
  font-size: var(--artifact-description);
  line-height: 2em;
  color: black;
}
@media (max-width: 576px), (max-height: 576px) {
  .content .main .left .description {
    width: 85%;
  }
}
@media (max-width: 576px) {
  .content .main .left .description {
    margin: 2vh 0;
  }
}
.content .main .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .content .main .right {
    justify-content: flex-start;
  }
}
.content .main .right .image-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--border-gray);
  border-radius: 0.5vmin;
}
@media (max-width: 576px) {
  .content .main .right .image-container {
    height: 45vh;
  }
}
@media (max-height: 576px) {
  .content .main .right .image-container {
    height: 80vh;
  }
}
.content .main .right .image-container img {
  margin: 20% 0;
  width: 80%;
  align-self: center;
}
@media (max-width: 576px), (max-height: 576px) {
  .content .main .right .image-container img {
    width: 90%;
  }
}
.content .main .right .image-container .explore {
  align-self: flex-start;
  margin-top: 1em;
  margin-left: calc(10% - 1.5em);
  padding: 0.35em 2em 0.35em 1.5em;
  border: 1px solid lightgray;
  border-radius: 1em;
  background-color: lightgray;
  font-size: var(--explore);
}
.content .main .right .image-container .explore a.btn {
  font-size: var(--explore-button);
  border-radius: 1em;
  margin-left: 1em;
  padding: 0.25em 0.5em;
  width: 2.2em;
  height: 2em;
}

a[href="./explore-2.html"] {
  display: none;
}

.explore-images {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: unset;
}
.explore-images:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  background-color: var(--thoreau-rgba-blue);
  background-image: url("../images/transparent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity var(--explore-images-timing), background-image var(--explore-images-timing);
}
.explore-images .back-button {
  position: relative;
  top: 0.75vh;
  left: 1vw;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--explore-images-timing), visibility var(--explore-images-timing);
}
@media (max-width: 576px) {
  .explore-images .back-button {
    top: 0.5vh;
    left: 2.5vw;
  }
}
.explore-images .back-button a i {
  color: lightgray;
  font-size: var(--back-button-size);
}
.explore-images .back-button a i:hover {
  color: white;
}
.explore-images .fixed-image-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 576px) {
  .explore-images .fixed-image-container {
    height: 100vh;
  }
}
@media (max-height: 576px) {
  .explore-images .fixed-image-container {
    height: 90vh;
  }
}
.explore-images .fixed-image-container img {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--explore-images-timing), visibility var(--explore-images-timing);
  margin: 20% 0;
  width: 80%;
  align-self: center;
}
@media (max-width: 576px), (max-height: 576px) {
  .explore-images .fixed-image-container img {
    width: 90%;
  }
}
.explore-images .fixed-image-container img.spyglass-photo {
  transform: rotate(-9deg);
}
.explore-images .fixed-image-container img.animals {
  width: 60%;
  align-self: flex-end;
  margin-right: 5%;
  margin-block-end: auto;
  margin-bottom: 10%;
}
@media (max-width: 576px) {
  .explore-images .fixed-image-container img.animals {
    width: 80%;
  }
}
@media (max-height: 576px) {
  .explore-images .fixed-image-container img.animals {
    width: 55%;
    margin-bottom: 15%;
  }
}
.explore-images .fixed-image-container img.trees1 {
  width: 60%;
  align-self: center;
}
@media (max-width: 576px), (max-height: 576px) {
  .explore-images .fixed-image-container img.trees1 {
    align-self: flex-end;
    margin-right: 5%;
    margin-block-end: auto;
    margin-bottom: 10%;
  }
}
@media (max-width: 576px) {
  .explore-images .fixed-image-container img.trees1 {
    width: 80%;
  }
}
.explore-images .fixed-image-container img.trees2 {
  width: 60%;
  align-self: center;
}
@media (max-width: 576px), (max-height: 576px) {
  .explore-images .fixed-image-container img.trees2 {
    align-self: flex-end;
    margin-right: 5%;
    margin-block-end: auto;
    margin-bottom: 10%;
  }
}
@media (max-width: 576px) {
  .explore-images .fixed-image-container img.trees2 {
    width: 80%;
  }
}
.explore-images .fixed-image-container img.hawk {
  position: relative;
  top: -26vh;
  left: 23vw;
  width: 10vw;
  align-self: flex-start;
}
@media (max-width: 576px) {
  .explore-images .fixed-image-container img.hawk {
    top: -30vh;
    left: 15vw;
    width: 25vw;
  }
}
@media (max-height: 576px) {
  .explore-images .fixed-image-container img.hawk {
    top: -25vh;
    left: 22vw;
    width: 12vw;
  }
}

html[data-scroll="0"] img.spyglass-photo {
  visibility: visible;
  opacity: 1;
}
html[data-scroll="0"] .back-button {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="1"] img.spyglass-drawing {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="2"] img.animals,
html[data-scroll="2"] .absolute-content-container.animals {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="3"] img.trees1,
html[data-scroll="3"] .absolute-content-container.trees1 {
  visibility: visible;
  opacity: 1;
}

html[data-scroll="4"] img.trees2,
html[data-scroll="4"] .absolute-content-container.trees2 {
  visibility: visible;
  opacity: 1;
}
html[data-scroll="4"] .explore-images:before {
  background-image: url("../images/shoreline-and-water-grayscale.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html[data-scroll="5"] img.hawk,
html[data-scroll="5"] .absolute-content-container.hawk {
  visibility: visible;
  opacity: 1;
}
html[data-scroll="5"] .back-button {
  visibility: visible;
  opacity: 1;
}
html[data-scroll="5"] .explore-images:before {
  background-image: url("../images/shoreline-and-water.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.explore-content {
  display: flex;
  height: 600vh;
  color: white;
}
.explore-content .absolute-content-container {
  position: absolute;
  visibility: hidden;
  transition: opacity var(--explore-content-timing), visibility var(--explore-content-timing);
  opacity: 0;
  max-width: 30vw;
  font-size: var(--explore-content);
}
.explore-content .absolute-content-container.spyglass-drawing {
  top: 120vh;
  left: 60vw;
}
@media (max-height: 576px) {
  .explore-content .absolute-content-container.spyglass-drawing {
    left: 55vw;
    max-width: 35vw;
  }
}
@media (max-width: 576px) {
  .explore-content .absolute-content-container.spyglass-drawing {
    left: 35vw;
    max-width: 60vw;
  }
}
.explore-content .absolute-content-container.animals {
  top: 210vh;
  left: 10vw;
}
@media (max-height: 576px) {
  .explore-content .absolute-content-container.animals {
    left: 3vw;
    max-width: 30vw;
  }
}
@media (max-width: 576px) {
  .explore-content .absolute-content-container.animals {
    left: 5vw;
    max-width: 60vw;
  }
}
.explore-content .absolute-content-container.trees1 {
  top: 310vh;
  left: 10vw;
}
@media (max-height: 576px) {
  .explore-content .absolute-content-container.trees1 {
    left: 3vw;
    max-width: 30vw;
  }
}
@media (max-width: 576px) {
  .explore-content .absolute-content-container.trees1 {
    left: 3vw;
    max-width: 60vw;
  }
}
.explore-content .absolute-content-container.trees2 {
  top: 410vh;
  align-self: flex-end;
  left: 35vw;
}
@media (max-height: 576px) {
  .explore-content .absolute-content-container.trees2 {
    left: 3vw;
    max-width: 30vw;
  }
}
@media (max-width: 576px) {
  .explore-content .absolute-content-container.trees2 {
    left: 24vw;
    max-width: 60vw;
  }
}
.explore-content .absolute-content-container.hawk {
  top: 510vh;
  align-self: flex-end;
  max-width: 40vw;
  left: 40vw;
  font-size: var(--explore-content-heading);
}
@media (max-height: 576px) {
  .explore-content .absolute-content-container.hawk {
    top: 515vh;
  }
}
@media (max-width: 576px) {
  .explore-content .absolute-content-container.hawk {
    left: 50vw;
  }
}

html[data-contentscroll="1"] .absolute-content-container.spyglass-drawing {
  visibility: visible;
  opacity: 1;
}

html[data-contentscroll="2"] .absolute-content-container.animals {
  visibility: visible;
  opacity: 1;
}

html[data-contentscroll="3"] .absolute-content-container.trees1 {
  visibility: visible;
  opacity: 1;
}

html[data-contentscroll="4"] .absolute-content-container.trees2 {
  visibility: visible;
  opacity: 1;
}

html[data-contentscroll="5"] .absolute-content-container.hawk {
  visibility: visible;
  opacity: 1;
}
html[data-contentscroll="5"] .back-button {
  visibility: visible;
  opacity: 1;
}