/* color variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --thoreau-blue: #77bece;
  --border-gray: gray;
}

/* font sizes */
:root {
  --content: 2rem;
  --artifact-title: 4vmin;
  --artifact-description: 2vmin;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px 40px;
  padding: 0;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
}
@media (max-width: 576px) {
  body {
    margin: 10px 20px;
  }
}

@media (min-width: 576px) {
  .content .main {
    height: 90vh;
  }
}
.content .main .left img {
  width: 16%;
}
.content .main .left .title {
  margin: 4vh 0;
  font-size: var(--artifact-title);
  font-weight: 600;
  color: var(--thoreau-blue);
  line-height: 1em;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .content .main .left .title {
    margin: 2vh 0;
  }
}
.content .main .left hr {
  display: none;
  width: 25%;
}
@media (min-width: 576px) {
  .content .main .left hr {
    display: block;
  }
}
.content .main .left .description {
  margin: 4vh 0;
  width: 65%;
  font-size: var(--artifact-description);
  line-height: 2em;
  color: black;
}
@media (max-width: 576px) {
  .content .main .left .description {
    margin: 2vh 0;
  }
}
.content .main .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .content .main .right {
    justify-content: flex-start;
  }
}
.content .main .right .image-container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--border-gray);
  border-radius: 0.5vmin;
}
.content .main .right .image-container img {
  margin: 20% 0;
  width: 80%;
  align-self: center;
}